{% load static i18n %}

<div id="responsible">

	<div id="first_login">
		<h1 class="pl-3 border-bottom border-top lead mb-4 pt-4 pb-1" style="font-size: 25px;" id="responsible_first">{% trans 'First Login' %}</h1>
		<img src="{% static 'core/images/Responsible/PrimeiroLogin.png' %}" width="100%" class="float-right border border-secondary mb-4">
		<p class="lead mt-3" style="max-width: 100%; font-size: 18px;">
			{% blocktrans %}
	      After you log in to the Dr. Down website, you will be redirected to the profile editing page, where you will need to fill in your details so that your registration is completed in the system, after inserting them, click the "Update" button.
	  	{% endblocktrans %}
		</p>
		<img src="{% static 'core/images/Responsible/MeuPerfil.PNG' %}" width="100%" class="float-right border border-secondary mb-4">
		<p class="lead mt-3" style="max-width: 100%; font-size: 18px;">
			{% blocktrans %}
				Once you have filled in your data and updated your profile, you will be redirected to the "My Profile" page, you will be able to view your data, edit your profile, change the registered email and delete your account.
			{% endblocktrans %}
		</p>
	</div>

	<div id="requests">
	  <h1 class="pl-3 border-bottom border-top lead mb-4 pt-4 pb-1" style="font-size: 25px;" id="responsible_request">{% trans 'Requests' %}</h1>
		<img src="{% static 'core/images/Responsible/Pedidos.PNG' %}" width="100%" class="float-right border border-secondary mb-4" id="login">
		<p class="lead mt-3" style="max-width: 100%; font-size: 18px;">
			{% blocktrans %}
				By clicking on Orders in the sidebar you will be redirected to the page that lists the requests for inquiries made by you for whom you are responsible.
			{% endblocktrans %}
		</p>
	  <p class="lead mt-3" style="max-width: 100%; font-size: 18px;">
	    {% blocktrans %}
	      In this page you can create a new request for a query, edit an order or delete an order.
	    {% endblocktrans %}
	  </p>
	</div>

	<div id="appointments">
	  <h1 class="pl-3 border-bottom border-top lead mb-4 pt-4 pb-1" style="font-size: 25px;" id="responsible_appointments">{% trans 'Marked Appointments' %}</h1>
		<img src="{% static 'core/images/Responsible/Marcadas.PNG' %}" width="100%" class="float-right border border-secondary mb-4">
		<p class="lead mt-3" style="max-width: 100%; font-size: 18px;">
			{% blocktrans %}
				By clicking on "Marked" in the Queries tab, you will be redirected to the list of queries that have been marked for you by a Cris Down employee, where you can view the specialty, date and time.
			{% endblocktrans %}
		</p>
	</div>

	<div id="patients">
	  <h1 class="pl-3 border-bottom border-top lead mb-4 pt-4 pb-1" style="font-size: 25px;" id="responsible_appointments">{% trans 'Patients' %}</h1>
		<img src="{% static 'core/images/Responsible/PacientesResponsavel.png' %}" width="100%" class="float-right border border-secondary mb-4">
		<p class="lead mt-3" style="max-width: 100%; font-size: 18px;">
			{% blocktrans %}
				Na <i>side bar</i> está listados todos os pacientes dos quais você é responsável. Ao clicar em um deles você terá acesso à <i>checklist</i> e ao prontuário.
			{% endblocktrans %}
		</p>
	</div>

	<div id="medical_records">
	  <h1 class="pl-3 border-bottom border-top lead mb-4 pt-4 pb-1" style="font-size: 25px;" style="font-size: 25px;" id="patient_medical">{% trans 'Medical Records' %}</h1>
		<img src="{% static 'core/images/Patient/Prontuario.PNG' %}" width="100%" class="float-right border border-secondary mb-4">
		<p class="lead mt-3" style="max-width: 100%; font-size: 18px;">
			{% blocktrans %}
				By clicking on "Medical Record" on the Medical History tab, you will have access to your pronounary, you can view your data and data filled by the Cris Down health team: evolutions, postnatal data, medical exams, prescriptions, complaints and curves of height, weight, imc and head circumference.
			{% endblocktrans %}
		</p>
	  <p class="lead mt-3" style="max-width: 100%; font-size: 18px;">
			{% blocktrans %}
	      You can also go to the Care Line or print / save your medical records in PDF.
			{% endblocktrans %}
		</p>
	</div>

	<div id="checklist">
	  <h1 class="pl-3 border-bottom border-top lead mb-4 pt-4 pb-1" style="font-size: 25px;" style="font-size: 30px;" id="patient_checklist">{% trans 'Checklist' %}</h1>
		<img src="{% static 'core/images/Responsible/checklist.png' %}" width="100%" class="float-right border border-secondary mb-4">
		<p class="lead mt-3" style="max-width: 100%; font-size: 18px;">
			{% blocktrans %}
				Para visualizar ou editar o checklist de um paciente sob sua responsabilidade, basta clicar no botão "Checklist" no canto superior direito da página do prontuário desse paciente.
			{% endblocktrans %}
		</p>
	</div>

	<div id="vaccines">
	  <h1 class="pl-3 border-bottom border-top lead mb-4 pt-4 pb-1" style="font-size: 25px;" id="responsible_vaccine">{% trans 'Vaccine Schedule' %}</h1>
		<img src="{% static 'core/images/Responsible/CalendarioDeVacinas.PNG' %}" width="100%" class="float-right border border-secondary mb-4">
		<p class="lead mt-3" style="max-width: 100%; font-size: 18px;">
			{% blocktrans %}
	      Clicking on the vaccine calendar will show a table with two tabs that indicate the vaccines by age, the first flap is from birth to six years of age and the second flap is nine years old and up.
			{% endblocktrans %}
		</p>
	  <h1 class="pl-3 border-bottom border-top lead mb-4 pt-4 pb-1" style="font-size: 25px;" id="forum">{% trans 'Vaccination Sites' %}</h1>
		<img src="{% static 'core/images/Responsible/LocaisDeVacina.PNG' %}" width="100%" class="float-right border border-secondary mb-4">
		<p class="lead mt-3" style="max-width: 100%; font-size: 18px;">
			{% blocktrans %}
	      After accessing "Vaccination Sites" in the sidebar, you will be redirected to a list of cities in the Federal District, where each city has vaccination clinics.
			{% endblocktrans %}
		</p>
	</div>

	<div id="forum">
	  <h1 class="pl-3 border-bottom border-top lead mb-4 pt-4 pb-1" style="font-size: 25px;" id="reponsible_forum">{% trans 'Forum' %}</h1>
		<img src="{% static 'core/images/Responsible/Forum.PNG' %}" width="100%" class="float-right border border-secondary mb-4">
		<p class="lead mt-3" style="max-width: 100%; font-size: 18px;">
			{% blocktrans %}
	      By accessing the Forum, you will be redirected to the Forum Categories page, clicking on any category you will go to the forum posts.
			{% endblocktrans %}
		</p>
	  <img src="{% static 'core/images/Responsible/Posts.PNG' %}" width="100%" class="float-right border border-secondary mb-4">
		<p class="lead mt-3" style="max-width: 100%; font-size: 18px;">
			{% blocktrans %}
	      You will have access to the posts of the selected category, you can also insert a new post for the category.
			{% endblocktrans %}
		</p>
	  <img src="{% static 'core/images/Responsible/Comentarios.PNG' %}" width="100%" class="float-right border border-secondary mb-4">
		<p class="lead mt-3" style="max-width: 100%; font-size: 18px;">
			{% blocktrans %}
	      In the comments page, you will have access to the comments of the selected post and you will also be able to make new comments in the post.
			{% endblocktrans %}
		</p>
	</div>

	<div id="events">
	  <h1 class="pl-3 border-bottom border-top lead mb-4 pt-4 pb-1" style="font-size: 25px;" id="responsible_events">{% trans 'Events' %}</h1>
	  <img src="{% static 'core/images/Responsible/Eventos.png' %}" width="100%" class="float-right border border-secondary mb-4">
		<p class="lead mt-3" style="max-width: 100%; font-size: 18px;">
			{% blocktrans %}
	      In "Events", you will have access to the events promoted by Cris Down, clicking on the event name will appear the information.
			{% endblocktrans %}
		</p>
	</div>

</div>
