{% load static i18n %}

<div id="user_resgister_login">
	<div id="register_login">
		<h1 class="pl-3 border-bottom border-top lead mb-4 pt-4 pb-1" style="font-size: 25px;">{% trans 'Register and Login' %}</h1>
		<img src="{% static 'core/images/User/Botao Cadastrar.PNG' %}" width="100%" class="float-right border border-secondary">
		<small style="max-width: 100%;">
			{% blocktrans %}
				You do not need to be registered to enjoy the features contained in nav bar.
			{% endblocktrans %}
		</small>
		<p class="lead mt-3" style="max-width: 100%; font-size: 18px;">
			{% blocktrans %}
				The first step to getting started is to register. To do this, click on the "Register" button at the upper end as shown in the figure.
			{% endblocktrans %}
		</p>
		<img src="{% static 'core/images/User/Cadastrar.PNG' %}" width="100%" class="float-right border border-secondary mb-4">
		<p class="lead mt-3" style="max-width: 100%; font-size: 18px;">
			{% blocktrans %}
				By clicking the button you will be redirected to this page. Fill in the fields with your information and click the indicated button to continue.
			{% endblocktrans %}
		</p>
		<p class="lead mt-3" style="max-width: 100%; font-size: 18px;">
			{% blocktrans %}
				Once this is done, a confirmation will be sent to your email address and you will be redirected to the personal information fills page. To be classified as a patient, member of the medical team or responsible, you must contact an employee of CRIS Down.
			{% endblocktrans %}
		</p>
		<img src="{% static 'core/images/User/Entrar.PNG' %}" width="100%" class="float-right border border-secondary mb-4" id="login">
		<p class="lead mt-3" style="max-width: 100%; font-size: 18px;">
			{% blocktrans %}
				To login with your account, click on the "Enter" button at the top of the site and enter the data entered in the registration.
			{% endblocktrans %}
		</p>
	</div>

	<div id="forum">
		<h1 class="pl-3 border-bottom border-top lead mb-4 pt-4 pb-1" style="font-size: 25px;">{% trans 'Forum' %}</h1>
		<img src="{% static 'core/images/User/Botao Forum.png' %}" width="100%" class="float-right border border-secondary mb-4">
		<p class="lead mt-3" style="max-width: 100%; font-size: 18px;">
			{% blocktrans %}
				The forum is the place of communication between users of the site, where you can ask questions, suggest improvements and make complaints, as well as help other users. You can only comment and create posts if you are logged in with your account, explained <a href="#login" class="text-blue"><i><u>here</u></i></a>.
			{% endblocktrans %}
		</p>
		<img src="{% static 'core/images/User/Forum.PNG' %}" width="100%" class="float-right border border-secondary mb-4">
		<p class="lead mt-3" style="max-width: 100%; font-size: 18px;">
			{% blocktrans %}
				The first page of the forum lists the categories of posts, they will be created according to the need of CRIS Down. To see the posts of a category, click on the title of the category you want.
			{% endblocktrans %}
		</p>
	</div>



</div>
