{% load static i18n %}

<div id="employee">
	<h1 class="text-center border-bottom pb-2 lead mb-4" style="font-size: 30px;" id="patient_first">{% trans 'First Login' %}</h1>
	<img src="{% static 'core/images/Employee/PrimeiroLogin.png' %}" width="100%" class="float-right border border-secondary">
	<p class="lead mt-3" style="max-width: 100%; font-size: 18px;">
		{% blocktrans %}
      Após efetuar o primeiro login no site Dr. Down, você será redirecionado para a página de editar o perfil, onde será necessário preencher seus dados para que seu cadastro seja completado no sistema, após inseri-los aperte no botão "Atualizar".
  	{% endblocktrans %}
	</p>
	<img src="{% static 'core/images/Employee/Perfil.PNG' %}" width="100%" class="float-right border border-secondary mb-4">
	<p class="lead mt-3" style="max-width: 100%; font-size: 18px;">
		{% blocktrans %}
			Quando você tiver preenchido os seus dados e atualizado seu perfil, será redirecionado para a página "Meu Perfil", você poderá visualizar seus dados, editar seu perfil, mudar o e-mail cadastrado e excluir sua conta.
		{% endblocktrans %}
	</p>
  <h1 class="text-center border-bottom border-top pt-2 pb-2 lead mb-4" style="font-size: 30px;" id="patient_request">{% trans 'Requests' %}</h1>
	<img src="{% static 'core/images/Employee/PedidosEmployee.PNG' %}" width="100%" class="float-right border border-secondary mb-4" id="login">
	<p class="lead mt-3" style="max-width: 100%; font-size: 18px;">
		{% blocktrans %}
			Apertando em Pedidos na barra lateral você será redirecionado para a página que lista os pedidos de consultas, os pedidos estarão ordenados de acordo com o risco da especialidade requerida pelo paciente e deverão ser marcados de acordo com a prioridade.
		{% endblocktrans %}
	</p>
	<p class="lead mt-3" style="max-width: 100%; font-size: 18px;">
		{% blocktrans %}
			Para marcar uma consulta você deverá clicar no botão "Aceitar" e será redirecionado para a página de marcação de consulta.
		{% endblocktrans %}
	</p>
	<p class="lead mt-3" style="max-width: 100%; font-size: 18px;">
		{% blocktrans %}
			Caso a consulta seja recusada, você deverá escrever uma justificativa para essa consulta ter sido recusada.
		{% endblocktrans %}
	</p>
	<h1 class="text-center border-bottom border-top pt-2 pb-2 lead mb-4" style="font-size: 30px;" id="patient_appointments">{% trans 'Appointments' %}</h1>
	<img src="{% static 'core/images/Employee/NovaConsulta.PNG' %}" width="100%" class="float-right border border-secondary mb-4">
	<p class="lead mt-3" style="max-width: 100%; font-size: 18px;">
		{% blocktrans %}
			Quando você aceitar um pedido de consulta ou selecionar a opção de Nova Consulta na aba de consultas marcadas, será redirecionado para esta página.
		{% endblocktrans %}
	</p>
	<p class="lead mt-3" style="max-width: 100%; font-size: 18px;">
		{% blocktrans %}
			Quando estiver aceitando um pedido, os campos de Especialidade, Profissional de Saúde e Paciente já estarão marcados. O paciente terá escolhido um turno e um dia da semana desejado, você terá que procurar por essa disponibilidade, caso não seja possível, não é obrigatório que seja como desejado pelo paciente.
		{% endblocktrans %}
	</p>
	<img src="{% static 'core/images/Employee/Consultas.PNG' %}" width="100%" class="float-right border border-secondary mb-4">
	<p class="lead mt-3" style="max-width: 100%; font-size: 18px;">
		{% blocktrans %}
			Ao clicar em Marcadas na aba de Consultas, você será redirecionado para a lista de consultas marcadas. Você poderá editar ou cancelar uma consulta, caso seja necessário.
		{% endblocktrans %}
	</p>
  <h1 class="text-center border-bottom border-top pt-2 pb-2 lead mb-4" style="font-size: 30px;" id="patient_medical">{% trans 'Patients' %}</h1>
	<img src="{% static 'core/images/Employee/Pacientes.PNG' %}" width="100%" class="float-right border border-secondary mb-4">
	<p class="lead mt-3" style="max-width: 100%; font-size: 18px;">
		{% blocktrans %}
			Ao clicar em "Pacientes", você terá acesso a uma lista de pacientes do Cris Down e ao clicar em um paciente você será redirecionado para o prontuário do mesmo.
		{% endblocktrans %}
	</p>
	<h1 class="text-center border-bottom border-top pt-2 pb-2 lead mb-4" style="font-size: 30px;" id="patient_checklist">{% trans 'Medical Records' %}</h1>
	<img src="{% static 'core/images/Employee/Prontuario.PNG' %}" width="100%" class="float-right border border-secondary mb-4">
	<p class="lead mt-3" style="max-width: 100%; font-size: 18px;">
		{% blocktrans %}
			Ao acessar o prontuário de um paciente, poderá visualizar as informações do paciente escolhido e os dados preenchidos pela equipe de saúde do Cris Down: evoluções, dados do pós-natal, exames médicos, prescrições, queixas e curvas de altura, peso, imc e perímetro cefálico.
		{% endblocktrans %}
	</p>
  <p class="lead mt-3" style="max-width: 100%; font-size: 18px;">
		{% blocktrans %}
      Também poderá ir para a Linha de Cuidado ou imprimir/salvar em PDF o seu prontuário.
		{% endblocktrans %}
	</p>
  <h1 class="text-center border-bottom border-top pt-2 pb-2 lead mb-4" style="font-size: 30px;" id="patient_vaccine">{% trans 'Checklist' %}</h1>
	<img src="{% static 'core/images/Employee/LinhaDeCuidado.PNG' %}" width="100%" class="float-right border border-secondary mb-4">
	<p class="lead mt-3" style="max-width: 100%; font-size: 18px;">
		{% blocktrans %}
			Ao clicar em "Linha de Cuidado" você terá acesso a procedimentos que o paciente deverá seguir, você poderá também marcar os procedimentos já feitos pelo paciente. São procedimentos que um portador de Síndrome de Down tem que seguir no decorrer de sua vida, alguns são obrigatórios e ourtos são apenas quando necessário pelo paciente.
		{% endblocktrans %}
	</p>
  <h1 class="text-center border-bottom border-top pt-2 pb-2 lead mb-4" style="font-size: 30px;" id="patient_forum">{% trans 'Forum' %}</h1>
	<img src="{% static 'core/images/Employee/Forum.PNG' %}" width="100%" class="float-right border border-secondary mb-4">
	<p class="lead mt-3" style="max-width: 100%; font-size: 18px;">
		{% blocktrans %}
      Ao acessar o Fórum, você será redirecionado para a página de Categorias do Fórum, apertando em alguma categoria você irá para os posts da mesma.
		{% endblocktrans %}
	</p>
  <img src="{% static 'core/images/Employee/NovoPost.PNG' %}" width="100%" class="float-right border border-secondary mb-4">
	<p class="lead mt-3" style="max-width: 100%; font-size: 18px;">
		{% blocktrans %}
      Você terá acesso aos posts da categoria selecionada, também poderá inserir um novo post para a categoria.
		{% endblocktrans %}
	</p>
  <img src="{% static 'core/images/Employee/Comentario.PNG' %}" width="100%" class="float-right border border-secondary mb-4">
	<p class="lead mt-3" style="max-width: 100%; font-size: 18px;">
		{% blocktrans %}
      Na página de comentários, você terá acesso aos comentários do post selecionado e também poderá fazer novos comentários no post.
		{% endblocktrans %}
	</p>
  <h1 class="text-center border-bottom border-top pt-2 pb-2 lead mb-4" style="font-size: 30px;" id="patient_events">{% trans 'Events' %}</h1>
  <img src="{% static 'core/images/Employee/BotaoNovoEvento.PNG' %}" width="100%" class="float-right border border-secondary mb-4">
	<p class="lead mt-3" style="max-width: 100%; font-size: 18px;">
		{% blocktrans %}
      Em "Eventos", aparecerá a lista de eventos promovidos pelo Cris Down, clicando em "Novo Evento" você será redirecionado para a página de criação de eventos e poderá criar um evento para ser colocado na lista.
		{% endblocktrans %}
	</p>
	<img src="{% static 'core/images/Employee/NovoEvento.PNG' %}" width="100%" class="float-right border border-secondary mb-4">
	<p class="lead mt-3" style="max-width: 100%; font-size: 18px;">
		{% blocktrans %}
      Na página de novo evento é obrigatório o preenchimento das informações a fim de que os usuários estejam bem informados sobre o evento.
		{% endblocktrans %}
	</p>
	<img src="{% static 'core/images/Employee/EventoDescricao.PNG' %}" width="100%" class="float-right border border-secondary mb-4">
	<p class="lead mt-3" style="max-width: 100%; font-size: 18px;">
		{% blocktrans %}
      Clicando em um evento você terá acesso as informações do mesmo.
		{% endblocktrans %}
	</p>
</div>
