{% load static i18n %}

<div id="responsible">
	<div id="first_login">
		<h1 class="pl-3 border-bottom border-top lead mb-4 pt-4 pb-1" style="font-size: 25px;" id="health_first">{% trans 'First Login' %}</h1>
		<img src="{% static 'core/images/HealthTeam/PrimeiroLogin.png' %}" width="100%" class="float-right border border-secondary mb-4">
		<p class="lead mt-3" style="max-width: 100%; font-size: 18px;">
			{% blocktrans %}
	      After you log in to the Dr. Down website, you will be redirected to the profile editing page, where you will need to fill in your details so that your registration is completed in the system, after inserting them, click the "Update" button.
	  	{% endblocktrans %}
		</p>
		<img src="{% static 'core/images/HealthTeam/MeuPerfil.png' %}" width="100%" class="float-right border border-secondary mb-4">
		<p class="lead mt-3" style="max-width: 100%; font-size: 18px;">
			{% blocktrans %}
				Once you have filled in your data and updated your profile, you will be redirected to the "My Profile" page, you will be able to view your data, edit your profile, change the registered email and delete your account.
			{% endblocktrans %}
		</p>
	</div>

	<div id="notifications">
		<h1 class="pl-3 border-bottom border-top lead mb-4 pt-4 pb-1" style="font-size: 25px;" id="patient_first">{% trans 'Notifications' %}</h1>
		<img src="{% static 'core/images/HealthTeam/Notificacoes2.png' %}" width="100%" class="float-right border border-secondary mb-4">
		<p class="lead mt-3" style="max-width: 100%; font-size: 18px;">
			{% blocktrans %}
	      Nas próximas vezes que fizer o login, explicado <a href="#first_login" class="text-blue scroll">aqui</a>, você verá a <i>Página de Notificações</i>. Essa página te avisará quando houver novos <a href="#events" class="text-blue scroll">eventos</a>, a quantidade de <a href="#appointments" class="text-blue scroll">consultas</a> que você terá no dia e te atualizará sobre os seus posts contidos no <a href="#forum" class="text-blue scroll">fórum</a> .
	  	{% endblocktrans %}
		</p>
	</div>

	<div id="appointments">
	  <h1 class="pl-3 border-bottom border-top lead mb-4 pt-4 pb-1" style="font-size: 25px;" id="health_appointments">{% trans 'Marked Appointments' %}</h1>
		<img src="{% static 'core/images/HealthTeam/Consultas.png' %}" width="100%" class="float-right border border-secondary mb-4">
		<p class="lead mt-3" style="max-width: 100%; font-size: 18px;">
			{% blocktrans %}
				By clicking on "Marked" in the Queries tab, you will be redirected to the list of queries that have been marked for you by a Cris Down employee, where you can view the specialty, date and time.
			{% endblocktrans %}
		</p>
	</div>

	<div id="patients">
	  <h1 class="pl-3 border-bottom border-top lead mb-4 pt-4 pb-1" style="font-size: 25px;" id="health_patients">{% trans 'My Patients' %}</h1>
		<img src="{% static 'core/images/HealthTeam/Pacientes.png' %}" width="100%" class="float-right border border-secondary mb-4">
		<p class="lead mt-3" style="max-width: 100%; font-size: 18px;">
			{% blocktrans %}
	      By clicking on "Patients" you will see a list of all your patients.
			{% endblocktrans %}
		</p>
		<img src="{% static 'core/images/HealthTeam/DentroPaciente.png' %}" width="100%" class="float-right border border-secondary mb-4">
		<p class="lead mt-3" style="max-width: 100%; font-size: 18px;">
			{% blocktrans %}
	      If you want to get information from a specific patient, just click on the name of the patient you want.
			{% endblocktrans %}
		</p>
	</div>

	<div id="medical_records">
	  <h1 class="pl-3 border-bottom border-top lead mb-4 pt-4 pb-1" style="font-size: 25px;" id="health_vaccine">{% trans 'Medical Records' %}</h1>
		<img src="{% static 'core/images/HealthTeam/AdicionarDadosProntuario.png' %}" width="100%" class="float-right border border-secondary mb-4">
		<p class="lead mt-3" style="max-width: 100%; font-size: 18px;">
			{% blocktrans %}
        When choosing a patient, you can view or add information to your profile. To do this, simply click on the tab you want to see or enter information. To add information to a tab, simply click the "New" or "Add" button. You can also edit information by clicking the "Edit" button in the upper left of the window.
      {% endblocktrans %}
		</p>
    <img src="{% static 'core/images/HealthTeam/p_evolucao.png' %}" width="100%" class="float-right border border-secondary mb-4">
    <p class="lead mt-3" style="max-width: 100%; font-size: 18px;">
			{% blocktrans %}
          In the "evolution" tab, the health team can document the entire medical history of the patient in his routine in Cris Down
      {% endblocktrans %}
		</p>
    <img src="{% static 'core/images/HealthTeam/p_exames.png' %}" width="100%" class="float-right border border-secondary mb-4">
      <p class="lead mt-3" style="max-width: 100%; font-size: 18px;">
			{% blocktrans %}
        In "exams", the health team can add all the exams about the patient and can make observations about it.
      {% endblocktrans %}
		</p>
    <img src="{% static 'core/images/HealthTeam/remedio.png' %}" width="100%" class="float-right border border-secondary mb-4">
      <p class="lead mt-3" style="max-width: 100%; font-size: 18px;">
			{% blocktrans %}
          In tab "prescription", the health team can add the medicines, the dosage and how often it can be take it.
      {% endblocktrans %}
		</p>
    <img src="{% static 'core/images/HealthTeam/p_queixas.png' %}" width="100%" class="float-right border border-secondary mb-4">
      <p class="lead mt-3" style="max-width: 100%; font-size: 18px;">
			{% blocktrans %}
        In this tab the health team can register the complaints frequent make by patient.
      {% endblocktrans %}
		</p>
     <img src="{% static 'core/images/HealthTeam/Riscos.png' %}" width="100%" class="float-right border border-secondary mb-4">
      <p class="lead mt-3" style="max-width: 100%; font-size: 18px;">
			{% blocktrans %}
        Here the health team add the risk of patient in all medical areas.
      {% endblocktrans %}
		</p>
    <img src="{% static 'core/images/HealthTeam/p_curvas.png' %}" width="100%" class="float-right border border-secondary mb-4">
    <img src="{% static 'core/images/HealthTeam/p_curva_2.png' %}" width="100%" class="float-right border border-secondary mb-4">
	  <p class="lead mt-3" style="max-width: 100%; font-size: 18px;">
			{% blocktrans %}
          On the curves tab, the health team can add data on BMI, height, weight and encephalic perimeter. All of these data generated curve charts that can show the patient's developmental state.
      {% endblocktrans %}
		</p>
  </div>

	<div id="forum">
	  <h1 class="pl-3 border-bottom border-top lead mb-4 pt-4 pb-1" style="font-size: 25px;" id="health_forum">{% trans 'Forum' %}</h1>
		<img src="{% static 'core/images/HealthTeam/Forum.PNG' %}" width="100%" class="float-right border border-secondary mb-4">
		<p class="lead mt-3" style="max-width: 100%; font-size: 18px;">
			{% blocktrans %}
	      By accessing the Forum, you will be redirected to the Forum Categories page, clicking on any category you will go to the forum posts.
			{% endblocktrans %}
		</p>
	  <img src="{% static 'core/images/HealthTeam/Posts.PNG' %}" width="100%" class="float-right border border-secondary mb-4">
		<p class="lead mt-3" style="max-width: 100%; font-size: 18px;">
			{% blocktrans %}
	      You will have access to the posts of the selected category, you can also insert a new post for the category.
			{% endblocktrans %}
		</p>
	  <img src="{% static 'core/images/HealthTeam/Comentarios.PNG' %}" width="100%" class="float-right border border-secondary mb-4">
		<p class="lead mt-3" style="max-width: 100%; font-size: 18px;">
			{% blocktrans %}
	    	In the comments page, you will have access to the comments of the selected post and you will also be able to make new comments in the post.
			{% endblocktrans %}
		</p>
	</div>

	<div id="events">
	  <h1 class="pl-3 border-bottom border-top lead mb-4 pt-4 pb-1" style="font-size: 25px;" id="forum">{% trans 'Events' %}</h1>
	  <img src="{% static 'core/images/HealthTeam/Eventos.png' %}" width="100%" class="float-right border border-secondary mb-4">
		<p class="lead mt-3" style="max-width: 100%; font-size: 18px;">
			{% blocktrans %}
	      In "Events", you will have access to the events promoted by Cris Down, clicking on the event name will appear the information.
			{% endblocktrans %}
		</p>
	</div>
</div>
