{% load static i18n %}

<div id="responsible">
	<h1 class="text-center border-bottom pb-2 lead mb-4" style="font-size: 30px;">{% trans 'First Login' %}</h1>
	<img src="{% static 'core/images/HealthTeam/PrimeiroLogin.png' %}" width="100%" class="float-right border border-secondary">
	<p class="lead mt-3" style="max-width: 100%; font-size: 18px;">
		{% blocktrans %}
      Após efetuar o primeiro login no site Dr. Down, você será redirecionado para a página de editar o perfil, onde será necessário preencher seus dados para que seu cadastro seja completado no sistema, após inseri-los aperte no botão "Atualizar".
  	{% endblocktrans %}
	</p>
	<img src="{% static 'core/images/HealthTeam/MeuPerfil.png' %}" width="100%" class="float-right border border-secondary mb-4">
	<p class="lead mt-3" style="max-width: 100%; font-size: 18px;">
		{% blocktrans %}
			Após atualizar o seu perfil, você será redirecionado para a página "Meu Perfil", onde poderá visualizar seus dados, editar seu perfil, mudar o e-mail cadastrado e excluir sua conta.
		{% endblocktrans %}
	</p>
  <h1 class="text-center border-bottom border-top pt-2 pb-2 lead mb-4" style="font-size: 30px;" id="forum">{% trans 'Marked Appointments' %}</h1>
	<img src="{% static 'core/images/HealthTeam/Consultas.png' %}" width="100%" class="float-right border border-secondary mb-4">
	<p class="lead mt-3" style="max-width: 100%; font-size: 18px;">
		{% blocktrans %}
			Ao clicar em "Marcadas" na aba de Consultas, você será redirecionado para a lista de consultas que foram marcadas para você por algum funcionário do Cris Down, onde poderá visualizar a especialidade, data e horário.
		{% endblocktrans %}
	</p>
  <h1 class="text-center border-bottom border-top pt-2 pb-2 lead mb-4" style="font-size: 30px;" id="forum">{% trans 'My Patients' %}</h1>
	<img src="{% static 'core/images/HealthTeam/Pacientes.png' %}" width="100%" class="float-right border border-secondary mb-4">
	<p class="lead mt-3" style="max-width: 100%; font-size: 18px;">
		{% blocktrans %}
      Ao clicar em "Pacientes", aparecerá uma lista com todos os seus pacientes.
		{% endblocktrans %}
	</p>	
	<img src="{% static 'core/images/HealthTeam/DentroPaciente.png' %}" width="100%" class="float-right border border-secondary mb-4">
	<p class="lead mt-3" style="max-width: 100%; font-size: 18px;">
		{% blocktrans %}
      Se deseja obter informações de um paciente específico, basta clicar sobre o nome do paciente desejado.
		{% endblocktrans %}
	</p>	
  <h1 class="text-center border-bottom border-top pt-2 pb-2 lead mb-4" style="font-size: 30px;" id="forum">{% trans 'Vaccine Schedule' %}</h1>
	<img src="{% static 'core/images/HealthTeam/CalendarioDeVacinas.PNG' %}" width="100%" class="float-right border border-secondary mb-4">
	<p class="lead mt-3" style="max-width: 100%; font-size: 18px;">
		{% blocktrans %}
      Ao clicar em calendário de vacinas, irá aparecer uma tabela com duas abas que indicam as vacinas por idade, a primeira aba é do nascimento até os seis anos de idade e a segunda aba é dos nove anos de idade em diante.
		{% endblocktrans %}
	</p>
  <h1 class="text-center border-bottom border-top pt-2 pb-2 lead mb-4" style="font-size: 30px;" id="forum">{% trans 'Vaccination Sites' %}</h1>
	<img src="{% static 'core/images/HealthTeam/LocaisDeVacina.PNG' %}" width="100%" class="float-right border border-secondary mb-4">
	<p class="lead mt-3" style="max-width: 100%; font-size: 18px;">
		{% blocktrans %}
      Após acessar "Locais de Vacinação" na barra lateral, você será redirecionado para uma lista de cidades do Distrito Federal, em que cada cidade dispõe de postos de saúde para vacinação.
		{% endblocktrans %}
	</p>
  <h1 class="text-center border-bottom border-top pt-2 pb-2 lead mb-4" style="font-size: 30px;" id="forum">{% trans 'Forum' %}</h1>
	<img src="{% static 'core/images/HealthTeam/Forum.PNG' %}" width="100%" class="float-right border border-secondary mb-4">
	<p class="lead mt-3" style="max-width: 100%; font-size: 18px;">
		{% blocktrans %}
      Ao acessar o Fórum, você será redirecionado para a página de Categorias do Fórum, apertando em alguma categoria você irá para os posts da mesma.
		{% endblocktrans %}
	</p>
  <img src="{% static 'core/images/HealthTeam/Posts.PNG' %}" width="100%" class="float-right border border-secondary mb-4">
	<p class="lead mt-3" style="max-width: 100%; font-size: 18px;">
		{% blocktrans %}
      Você terá acesso aos posts da categoria selecionada, também poderá inserir um novo post para a categoria.
		{% endblocktrans %}
	</p>
  <img src="{% static 'core/images/HealthTeam/Comentarios.PNG' %}" width="100%" class="float-right border border-secondary mb-4">
	<p class="lead mt-3" style="max-width: 100%; font-size: 18px;">
		{% blocktrans %}
      Na página de comentários, você terá acesso aos comentários do post selecionado e também poderá fazer novos comentários no post.
		{% endblocktrans %}
	</p>
  <h1 class="text-center border-bottom border-top pt-2 pb-2 lead mb-4" style="font-size: 30px;" id="forum">{% trans 'Events' %}</h1>
  <img src="{% static 'core/images/HealthTeam/Eventos.png' %}" width="100%" class="float-right border border-secondary mb-4">
	<p class="lead mt-3" style="max-width: 100%; font-size: 18px;">
		{% blocktrans %}
      Em "Eventos", você terá acesso aos eventos promovidos pelo Cris Down, clicando no nome do evento aparecerá as informações.
		{% endblocktrans %}
	</p>

</div>