{% extends "core/base-nav.html" %}
{% load static %}
{% load i18n %}
{% block css %}
	<link href="{% static 'core/homepage/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <!-- Custom fonts for this template -->
  <link href="{% static 'core/homepage/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template -->
  <link href="{% static 'core/homepage/css/freelancer.css' %}" rel="stylesheet">
  <link href="{% static 'core/css/home.css' %}" rel="stylesheet">

{% endblock css %}

{% block content %}
	<header class="masthead bg-blue text-center">
	  <div class="container">
	    <img class="img-fluid mb-5 d-block mx-auto" src="{% static 'core/homepage/img/prognosis-logo.png' %}" alt="">
	    <h1 class="text-uppercase text-secondary mb-0">{% trans "Dr. Down" %}</h1>
	    <hr class="star-dark bg-star-blue">
	    <h2 class="font-weight-light mb-0">
        <p class = text-secondary>{% trans "CRIS DOWN" %}</p>
	      <p class = text-secondary>{% trans "Medical Appointment - Events - Foruns - Information" %}</p>
	    </h2>
	  </div>
	</header>

	<!-- About Section -->
	<section class="mb-0 text-secondary " id="about">
	  <div class="container">
	    <h2 class="text-center text-uppercase">{% trans "About" %}</h2>
	    <hr class="star-dark mb-5">
	    <div class="row">
	      <div class="col-lg-4 ml-auto">
	        <p class="lead">{% trans "Dr. Down is a management tool for CRIS DOWN (Centro de Referência em Síndrome de Down) that makes possible to schedule medical appointments, to communicate with the doctor and visualize general information." %}</p>
	      </div>
	      <div class="col-lg-4 mr-auto text-">
	        <p class="lead">{% trans "CRIS DOWN was opened at Asa Norte, Brasília - DF, in April 2013. It is a place especialized in caring and accompaniment of patients with Down's syndrome, also known as trisomy 21." %}</p>
        </div>
	    </div>
	  </div>
	</section>

	<!-- Features Section -->
	<section class="mb-0 text-secondary bg-blue" id="about">
	  <div class="container">
	    <!-- Highlights -->
			<section class="wrapper">
				<div class="inner">
					<header class="special">
						<h2 style="font-size: 40px;" class="pb-3">Veja o que há de melhor no CRIS DOWN!</h2>
						<hr class="star-dark mb-5 bg-star-blue">
          </header>
					<div class="highlights">
						<section>
							<div class="feature content">
								<header>
									<i class="icon fa-stethoscope"><span class="label">Icon</span></i>
									<h3>Consultas</h3>
								</header>
                <span class="description">Descreve a consulta</span>
              </div>
						</section>
						<section>
							<div class="feature content">
								<header>
									<i class="icon fa-list-alt"><span class="label">Icon</span></i>
									<h3 style="font-size: 20px;">Linha de cuidado</h3>
								</header>
								<span class="description">Descreve a \sfflkbnerkneb linha de cuidadoDescreve a </span>
              </div>
						</section>
						<section>
							<div class="feature content">
								<header>
									<i class="icon fa-user-md"><span class="label">Icon</span></i>
									<h3>Prontuário</h3>
								</header>
								<span class="description">Descreve o prontuário</span>
              </div>
						</section>
						<section>
							<div class="feature content">
								<header>
									<i class="icon fa-line-chart"><span class="label">Icon</span></i>
									<h3>Curvas</h3>
								</header>
								<span class="description">Descreve as curvas</span>
              </div>
						</section>
						<section>
							<div class="feature content">
								<header>
									<i class="icon fa-comments"><span class="label">Icon</span></i>
									<h3>Fórum</h3>
								</header>
								<span class="description">Descreve o fórum</span>
              </div>
						</section>
						<section>
							<div class="feature content">
								<header>
									<i class="icon fa-thumbs-up"><span class="label">Icon</span></i>
									<h3>Eventos</h3>
								</header>
								<span class="description">Descreve os eventos</span>
              </div>
						</section>
					</div>
				</div>
			</section>
	  </div>
	</section>

	<section class="mb-0 text-secondary border-top" id="location">

      <div class="col-12">
        <h2 class="text-center text-uppercase">{% trans "CRIS Down " %}</h2>
        <hr class="star-dark mb-5">
       <iframe
        width=100%;
        height="550"
        frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAh5TYmxl0UK0Pl1El_tZqVo3jeXg11lSo
        &q=HRAN+-+Hospital+Regional+da+Asa+Norte" allowfullscreen>
     </iframe>

    </div>
	</section>

{% endblock content %}
