{% extends "core/base-nav.html" %}
{% load static %}
{% load i18n %}
{% block css %}
	<link href="{% static 'core/homepage/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <!-- Custom fonts for this template -->
  <link href="{% static 'core/homepage/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template -->
  <link href="{% static 'core/homepage/css/freelancer.css' %}" rel="stylesheet">
  <link href="{% static 'core/css/home.css' %}" rel="stylesheet">

{% endblock css %}

{% block content %}
	<header class="masthead bg-blue text-center">
    <!-- Logo -->
	  <div class="container">
	    <img class="img-fluid mb-4 d-block mx-auto" src="{% static 'core/homepage/img/prognosis-logo.png' %}" alt="">
	    <h1 class="text-uppercase text-secondary pt-4 mb-0">{% trans "Dr. Down" %}</h1>
	    <hr class="star-dark bg-star-blue">
	  </div>
    <!-- Highlights -->
    <section class="wrapper">
      <div class="inner mt-2">
        <header class="special">
          <h2 class="font-weight-light mb-0">
            <p class = text-secondary>{% trans "CRIS DOWN" %}</p>
            <p class = text-secondary>{% trans "Medical management plataform made for patients, responsibles, health team and employees." %}</p>
          </h2>
        </header>
        <div class="highlights">
          <section>
            <div class="feature content ">
              <header>
                <i class="icon fa-stethoscope"><span class="label">Icon</span></i>
                <h3 style="font-size: 23px;">{% trans 'Appointments' %}</h3>
              </header>
              <span class="description">{% trans "Our website makes possible to request, schedule, check status and manage appointments. This way all hospital users can be up to date with their appointments." %}</span>
            </div>
          </section>
          <section>
            <div class="feature content">
              <header>
                <i class="icon fa-list-alt"><span class="label">Icon</span></i>
                <h3 style="font-size: 23px;">{% trans 'Care Line' %}</h3>
              </header>
              <span class="description">{% trans "A individual checklist is available to follow up patient's procedures required by doctors according to age." %} </span>
            </div>
          </section>
          <section>
            <div class="feature content">
              <header>
                <i class="icon fa-user-md"><span class="label">Icon</span></i>
                <h3 style="font-size: 23px;">{% trans 'Medical Records' %}</h3>
              </header>
              <span class="description">{% trans "Access all data from medical records. Check exam results, medicine prescriptions, patient's risks and overall health information." %}</span>
            </div>
          </section>
          <section>
            <div class="feature content">
              <header>
                <i class="icon fa-line-chart"><span class="label">Icon</span></i>
                <h3 style="font-size: 23px;">{% trans 'Curves' %}</h3>
              </header>
              <span class="description">{% trans "Check patient's growth through years with graphics of weight, height, bmi and cephalic perimeter." %}</span>
            </div>
          </section>
          <section>
            <div class="feature content">
              <header>
                <i class="icon fa-comments"><span class="label">Icon</span></i>
                <h3 style="font-size: 23px;">{% trans 'Forum' %}</h3>
              </header>
              <span class="description">{% trans "If you have any doubts to clarify, suggestions to make or important info to share a forum is the perfect place to do it." %}</span>
            </div>
          </section>
          <section>
            <div class="feature content">
              <header>
                <i class="icon fa-thumbs-up"><span class="label">Icon</span></i>
                <h3 style="font-size: 23px;">{% trans 'Events' %}</h3>
              </header>
              <span class="description">{% trans "All the information you need to follow up CRIS DOWN's events so you won't miss the important occasions." %}</span>
            </div>
          </section>
        </div>
      </div>
			</section>
	</header>

	<!-- About Section -->
	<section class="mb-0 text-secondary border-top" id="about">
	  <div class="container">
	    <h2 class="text-center text-uppercase">{% trans "About" %}</h2>
	    <hr class="star-dark mb-5">
	    <div class="row">
	      <div class="col-lg-4 ml-auto">
	        <p class="lead">{% trans "Dr. Down is a management tool for CRIS DOWN (Centro de Referência em Síndrome de Down) that makes possible to schedule medical appointments, to communicate with the doctor and visualize general information." %}</p>
	      </div>
	      <div class="col-lg-4 mr-auto text-">
	        <p class="lead">{% trans "CRIS DOWN was opened at Asa Norte, Brasília - DF, in April 2013. It is a place especialized in caring and accompaniment of patients with Down's syndrome, also known as trisomy 21." %}</p>
        </div>
	    </div>
	  </div>
	</section>

	<section class="mb-0 text-secondary border-top" id="location">

      <div class="col-12">
        <h2 class="text-center text-uppercase">{% trans "CRIS Down " %}</h2>
        <hr class="star-dark mb-5">
       <iframe
        width=100%;
        height="550"
        frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAh5TYmxl0UK0Pl1El_tZqVo3jeXg11lSo
        &q=HRAN+-+Hospital+Regional+da+Asa+Norte" allowfullscreen>
     </iframe>

    </div>
	</section>

{% endblock content %}
