{% extends "core/base.html" %}
{% load static %}
{% load i18n %}

{% block css %}
	{{block.super}}
	<link href="{% static 'core/css/home.css' %}" rel="stylesheet">

{% endblock %}

{% block script %}
<script>
	function aparece(elem){
		if(document.getElementById(elem).style.display== "none"){
			document.getElementById(elem).style.display = "block";
		}
		else {
			document.getElementById(elem).style.display = "none"
		}
	}
</script>
{% endblock %}

{% block content %}
	<div class="container">
		<center><h2 class="text-tertiary">{% trans "Vaccination Locations" %}</h2></center>
		<hr class="star-dark bg-star-white">
		<div class="bg-blue">
			<ul class="list-group list-group-flush">
				<a href="javascript:;" class="lead hover-yellow text-blue-1 list-group-item list-group-item-action bg-blue" onclick="aparece('local_asa_norte');">Asa Norte</a>
			</ul>
			<table class=" table bg-blue" id="local_asa_norte" style="display: none; ">
				<thead>
					<tr class="full">
						<th scope="col">{% trans 'Local' %}</th>
						<th scope="col">{% trans 'Phone' %}</th>
					</tr>
				</thead>
				<tbody>
					<tr class="full">
						<td>CSB 11 (SGAN 905)</td>
						<td>3274-3155 /3273-3962</td>
					</tr>
					<tr class="full">
						<td>CSB 12 (EQN 208/408)</td>
						<td>3274-3455 /3274-9158</td>
					</tr>
					<tr class="full">
						<td>CSB 15 ( Vila Planalto)</td>
						<td>3306-2182</td>
					</tr>
					<tr class="full">
						<td>HUB (Av. L2 Norte Q. 605)</td>
						<td>3307-3223</td>
					</tr>
					<tr class="full">
						<td>CSB 13 (SQN 114/115)</td>
						<td>3272-2948/3273-9233</td>
					</tr>
					<tr class="full">
						<td>Ambulatório do HRAN (SMHN, Área Especial)</td>
						<td>3325-4300 </td>
					</tr>
					<tr class="full">
						<td>HGB</td>
						<td> ---------------- </td>
					</tr>
					<tr class="full">
						<td>Hospital das Forças Armadas (HFA)</td>
						<td> ---------------- </td>
					</tr>
				</tbody>
			</table>
		</div>

		<div>
			<ul class="list-group list-group-flush">
				<a href="javascript:;" class="lead hover-yellow text-blue-1 list-group-item list-group-item-action" onclick="aparece('local_asa_sul');">Asa Sul</a>
			</ul>
			<table class="ml-3 table" id="local_asa_sul" style="display: none; ">
				<thead>
					<tr class="full">
						<th scope="col">{% trans 'Local' %}</th>
						<th scope="col">{% trans 'Phone' %}</th>
					</tr>
				</thead>
				<tbody>
					<tr class="full">
						<td>Centro de Saúde de Brasília nº 01 Hospital Dia
		(Av. W3 Sul Q.508)</td>
						<td>3242-9399/3242-5229</td>
					</tr>
					<tr class="full">
						<td>Centro de Saúde n° 06 (Av. L/2 Sul, Quadra 605)</td>
						<td>3443-1855/3443-1357</td>
					</tr>
					<tr class="full">
						<td>Centro de Saúde n° 07 (Av. L/2 Sul, Quadra 612) </td>
						<td>3345-2874/3345-2873</td>
					</tr>
					<tr class="full">
						<td>Hospital Regional da Asa Sul (Av. L2 Sul Q. 608) </td>
						<td> ---------------- </td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="bg-blue">
			<ul class="list-group list-group-flush">
				<a href="javascript:;" class="lead hover-yellow text-blue-1 list-group-item list-group-item-action bg-blue" onclick="aparece('local_brazlandia');">Brazlândia</a>
			</ul>
			<table class="ml-3 table" id="local_brazlandia" style="display: none; ">
				<thead>
					<tr class="full">
						<th scope="col">{% trans 'Local' %}</th>
						<th scope="col">{% trans 'Phone' %}</th>
					</tr>
				</thead>
				<tbody>
					<tr class="full">
						<td>Centro de Saúde nº 1 (Q. 06/08 - Setor Norte)</td>
						<td>3391-1533/3391-1649</td>
					</tr>
				</tbody>
			</table>

			<ul class="list-group list-group-flush">
				<a href="javascript:;" class="lead hover-yellow text-blue-1 list-group-item list-group-item-action" onclick="aparece('local_candangolandia');">Candangolândia</a>
			</ul>
			<table class="ml-3 table" id="local_candangolandia" style="display: none; ">
				<thead>
					<tr class="full">
						<th scope="col">{% trans 'Local' %}</th>
						<th scope="col">{% trans 'Phone' %}</th>
					</tr>
				</thead>
				<tbody>
					<tr class="full">
						<td>Centro de Saúde n° 1 (EQ 3/5 Área Especial)</td>
						<td>33301-6221 / 33301-5444</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="bg-blue">
			<ul class="list-group list-group-flush">
				<a href="javascript:;" class="bg-blue lead hover-yellow text-blue-1 list-group-item list-group-item-action" onclick="aparece('local_ceilandia');">Ceilândia</a>
			</ul>
			<table class="ml-3 table" id="local_ceilandia" style="display: none; ">
				<thead>
					<tr class="full">
						<th scope="col">{% trans 'Local' %}</th>
						<th scope="col">{% trans 'Phone' %}</th>
					</tr>
				</thead>
				<tbody>
					<tr class="full">
						<td>Centro de Saúde n° 01 (Área Especial n° 01)</td>
						<td>3371-1022/3371-4458</td>
					</tr>
					<tr class="full">
						<td>Centro de Saúde n° 02 (QNN 15, Módulo “F”) </td>
						<td>3585-2998/3585-3611</td>
					</tr>
					<tr class="full">
						<td>Centro de Saúde n° 03 (QNM 15, Módulo “D”) </td>
						<td>3371-1106/3371-3049</td>
					</tr>
					<tr class="full">
						<td>Centro de Saúde n° 04 (EQNN 16, Módulo “F”)</td>
						<td>3376-2211/3376-1946</td>
					</tr>
					<tr class="full">
						<td>Centro de Saúde n° 05 (QNM 16, Módulo “F”)</td>
						<td>3371-1004/3371-1672</td>
					</tr>
					<tr class="full">
						<td>Centro de Saúde n° 06 (EQNP 10/14)</td>
						<td>3376-1335/3376-7512</td>
					</tr>
					<tr class="full">
						<td>Centro de Saúde n° 07 (QNO 10, Á.E. “E” e “D”)</td>
						<td>3585-2088/3585-3233</td>
					</tr>
					<tr class="full">
						<td>Centro de Saúde n° 08 (EQNP 13/17)</td>
						<td>3585-3654/3585-3622</td>
					</tr>
					<tr class="full">
						<td>Centro de Saúde n° 09 (EQNP 28/32)</td>
						<td>3376-1346/3376-7369</td>
					</tr>
					<tr class="full">
						<td>Centro de Saúde n° 10 (QNN 12, Área Especial n° 01)</td>
						<td>3371-3048/3371-3040</td>
					</tr>
					<tr class="full">
						<td>Centro de Saúde nº 11 (EQNO 17/18 Bloco H)</td>
						<td>3585-2288</td>
					</tr>
					<tr class="full">
						<td>Centro de Saúde nº 12 (QNQ 03 / 04, Área Especial)</td>
						<td>Tel:3374-6556 /3379-1011</td>
					</tr>
					<tr class="full">
						<td>Hospital Regional da Ceilândia</td>
						<td> ---------------- </td>
					</tr>
				</tbody>
			</table>
		</div>

		<div>
			<ul class="list-group list-group-flush">
				<a href="javascript:;" class="lead hover-yellow text-blue-1 list-group-item list-group-item-action" onclick="aparece('local_cruzeiro_novo');">Cruzeiro Novo</a>
			</ul>
			<table class="ml-3 table" id="local_cruzeiro_novo" style="display: none;">
				<thead>
					<tr class="full">
						<th scope="col">{% trans 'Local' %}</th>
						<th scope="col">{% trans 'Phone' %}</th>
					</tr>
				</thead>
				<tbody>
					<tr class="full">
						<td>Centro de Saúde nº 9 (Q. 611 Lote 1)</td>
						<td>3233-0040 /3233-0064</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="bg-blue">
			<ul class="list-group list-group-flush">
				<a href="javascript:;" class="bg-blue lead hover-yellow text-blue-1 list-group-item list-group-item-action" onclick="aparece('local_cruzeiro_velho');">Cruzeiro Velho</a>
			</ul>
			<table class="ml-3 table" id="local_cruzeiro_velho" style="display: none;">
				<thead>
					<tr class="full">
						<th scope="col">{% trans 'Local' %}</th>
						<th scope="col">{% trans 'Phone' %}</th>
					</tr>
				</thead>
				<tbody>
					<tr class="full">
						<td>Centro de Saúde n° 14 (Área Especial)</td>
						<td>3234-1666 /3234-1485</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div >
			<ul class="list-group list-group-flush">
				<a href="javascript:;" class="lead hover-yellow text-blue-1 list-group-item list-group-item-action" onclick="aparece('local_esplanada');">Esplanada dos Ministérios</a>
			</ul>
			<table class="ml-3 table" id="local_esplanada" style="display: none; ">
				<thead>
					<tr class="full">
						<th scope="col">{% trans 'Local' %}</th>
						<th scope="col">{% trans 'Phone' %}</th>
					</tr>
				</thead>
				<tbody>
					<tr class="full">
						<td>Presidência da República</td>
						<td> ---------------- </td>
					</tr>
					<tr class="full">
						<td>Senado Federal</td>
						<td> ---------------- </td>
					</tr>
					<tr class="full">
						<td>Câmara Federal</td>
						<td> ---------------- </td>
					</tr>
					<tr class="full">
						<td>Ministério das Relações Exteriores</td>
						<td> ---------------- </td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="bg-blue">
			<ul class="list-group list-group-flush">
				<a href="javascript:;" class="bg-blue lead hover-yellow text-blue-1 list-group-item list-group-item-action" onclick="aparece('local_gama');">Gama</a>
			</ul>
			<table class="ml-3 table" id="local_gama" style="display: none; ">
				<thead>
					<tr class="full">
						<th scope="col">{% trans 'Local' %}</th>
						<th scope="col">{% trans 'Phone' %}</th>
					</tr>
				</thead>
				<tbody>
					<tr class="full">
						<td>Centro de Saúde n° 01 (Setor Sul, Quadra 06, Área Especial</td>
						<td>3556-6678/3556-6099</td>
					</tr>
					<tr class="full">
						<td>Centro de Saúde nº 02-(Q. 11 Lotes A, B, C, D Á.E. - Setor Sul)</td>
						<td>3556-5678/3556-5424</td>
					</tr>
					<tr class="full">
						<td>Centro de Saúde n° 03 (Setor Leste, EQ 03/05)</td>
						<td>3556-6689/3556-6273</td>
					</tr>
					<tr class="full">
						<td>Centro de Saúde n° 04 (Setor Leste, EQ 39/40)</td>
						<td>3556-6878/3556-6581</td>
					</tr>
					<tr class="full">
						<td>Centro de Saúde n° 05 (Setor Central, Quadra 38, Área Especial) </td>
						<td>3556-6478/3556-5111</td>
					</tr>
					<tr class="full">
						<td>Centro de Saúde nº 06 (Setor Oeste, EQ 12/16)</td>
						<td>3556-0980/3556-0029</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div >
			<ul class="list-group list-group-flush">
				<a href="javascript:;" class="lead hover-yellow text-blue-1 list-group-item list-group-item-action" onclick="aparece('local_guara_I');">Guará I</a>
			</ul>
			<table class="ml-3 table" id="local_guara_I" style="display: none; ">
				<thead>
					<tr class="full">
						<th scope="col">{% trans 'Local' %}</th>
						<th scope="col">{% trans 'Phone' %}</th>
					</tr>
				</thead>
				<tbody>
					<tr class="full">
						<td>Centro de Saúde nº 01 (QE 06, Área Especial B)</td>
						<td>3567-0510</td>
					</tr>
					<tr class="full">
						<td>Posto Urbano Lúcio Costa (QELC 2/3 Lúcio Costa)</td>
						<td>3382-6586</td>
					</tr>
					<tr class="full">
						<td>Posto de Saúde (Estrutural)</td>
						<td>3036-5449/3036-1993</td>
					</tr>
					<tr class="full">
						<td>HRGu - VE (QI 06, Área Especial C)</td>
						<td>3567-4198/3353-1445</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="bg-blue">
			<ul class="list-group list-group-flush">
				<a href="javascript:;" class="bg-blue lead hover-yellow text-blue-1 list-group-item list-group-item-action" onclick="aparece('local_guara_II');">Guará II</a>
			</ul>
			<table class="ml-3 table" id="local_guara_II" style="display: none; ">
				<thead>
					<tr class="full">
						<th scope="col">{% trans 'Local' %}</th>
						<th scope="col">{% trans 'Phone' %}</th>
					</tr>
				</thead>
				<tbody>
					<tr class="full">
						<td>Centro de Saúde n° 02 (QE 23, Área Especial, Lote “C”)</td>
						<td>3568-3476/3381-4555</td>
					</tr>
					<tr class="full">
						<td>Centro de Saúde n° 03 (QE 38, Área Especial)</td>
						<td>3301-8398/3301-1995</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div>
			<ul class="list-group list-group-flush">
				<a href="javascript:;" class="lead hover-yellow text-blue-1 list-group-item list-group-item-action" onclick="aparece('local_lago_norte');">Lago Norte</a>
			</ul>
			<table class="ml-3 table" id="local_lago_norte" style="display: none; ">
				<thead>
					<tr class="full">
						<th scope="col">{% trans 'Local' %}</th>
						<th scope="col">{% trans 'Phone' %}</th>
					</tr>
				</thead>
				<tbody>
					<tr class="full">
						<td>Centro de Saúde n° 10 (SHIN QI 01/03)</td>
						<td>3577-2092 /3577-3181</td>
					</tr>
					<tr class="full">
						<td>Centro de Saúde nº 2 Varjão </td>
						<td>3368-1555</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="bg-blue" >
			<ul class="list-group list-group-flush">
				<a href="javascript:;" class="bg-blue lead hover-yellow text-blue-1 list-group-item list-group-item-action" onclick="aparece('local_lago_sul');">Lago Sul</a>
			</ul>
			<table class="ml-3 table" id="local_lago_sul" style="display: none; ">
				<thead>
					<tr class="full">
						<th scope="col">{% trans 'Local' %}</th>
						<th scope="col">{% trans 'Phone' %}</th>
					</tr>
				</thead>
				<tbody>
					<tr class="full">
						<td>Centro de Saúde n° 05 (QI 21, Área Especial)</td>
						<td>3366-2530 /3366-2660</td>
					</tr>
					<tr class="full">
						<td>Hospital de Força Aérea de Brasília (Área Militar do Aeroporto)</td>
						<td> ---------------- </td>
					</tr>
				</tbody>
			</table>
		</div>

		<div>
			<ul class="list-group list-group-flush">
				<a href="javascript:;" class="lead hover-yellow text-blue-1 list-group-item list-group-item-action" onclick="aparece('local_bandeirante');">Núcleo Bandeirante</a>
			</ul>
			<table class="ml-3 table" id="local_bandeirante" style="display: none; ">
				<thead>
					<tr class="full">
						<th scope="col">{% trans 'Local' %}</th>
						<th scope="col">{% trans 'Phone' %}</th>
					</tr>
				</thead>
				<tbody>
					<tr class="full">
						<td>Centro de Saúde nº 2 do Núcleo Bandeirante (3ª Avenida, Área Especial n° 03)</td>
						<td>3552-3411/3552-0086/3552-0544</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="bg-blue">
			<ul class="list-group list-group-flush">
				<a href="javascript:;" class="bg-blue lead hover-yellow text-blue-1 list-group-item list-group-item-action" onclick="aparece('local_paranoa');">Paranoá</a>
			</ul>
			<table class="ml-3 table" id="local_paranoa" style="display: none; ">
				<thead>
					<tr class="full">
						<th scope="col">{% trans 'Local' %}</th>
						<th scope="col">{% trans 'Phone' %}</th>
					</tr>
				</thead>
				<tbody>
					<tr class="full">
						<td>Hospital Regional do Paranoá (Q. 2, Área Especial)</td>
						<td>Tel:3369-6663/3369-9821</td>
					</tr>
					<tr class="full">
						<td>Centro de Saúde n° 01 - Ambulatório (Q. 21, Área Especial)</td>
						<td>Tel:3369-1467/3369-4489/3369-4527</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div >
			<ul class="list-group list-group-flush">
				<a href="javascript:;" class="lead hover-yellow text-blue-1 list-group-item list-group-item-action" onclick="aparece('local_planaltina');">Planaltina</a>
			</ul>
			<table class="ml-3 table" id="local_planaltina" style="display: none; ">
				<thead>
					<tr class="full">
						<th scope="col">{% trans 'Local' %}</th>
						<th scope="col">{% trans 'Phone' %}</th>
					</tr>
				</thead>
				<tbody>
					<tr class="full">
						<td>Centro de Saúde Planaltina nº 01 ( QD WL 4 Área Especial)</td>
						<td>3389-1412</td>
					</tr>
					<tr class="full">
						<td>Centro de Saúde Planaltina nº 02 (Á.E. - entre vias NS1/XL4)</td>
						<td>3389-3766/3389-1866</td>
					</tr>
					<tr class="full">
						<td>Centro de Saúde Planaltina nº 03 (Av. Goiás, Q. 47 nº 308)</td>
						<td>3389-1945/3389-1520</td>
					</tr>
					<tr class="full">
						<td>PFS (Posto Rural Santos Dumont)</td>
						<td> ---------------- </td>
					</tr>
					<tr class="full">
						<td>PFS (Posto Rural Rajadinha)</td>
						<td> ---------------- </td>
					</tr>
					<tr class="full">
						<td>PFS (Posto Rural Tabatinga)</td>
						<td> ---------------- </td>
					</tr>
					<tr class="full">
						<td>PFS (Posto Rural Taquara)</td>
						<td> ---------------- </td>
					</tr>
					<tr class="full">
						<td>PFS (Posto Rural Rio Preto)</td>
						<td> ---------------- </td>
					</tr>
					<tr class="full">
						<td>PFS (Posto Rural São José)</td>
						<td> ---------------- </td>
					</tr>
					<tr class="full">
						<td>PFS (Posto Rural Pipiripau II)</td>
						<td> ---------------- </td>
					</tr>
					<tr class="full">
						<td>Posto Rural Bica do DER (Córrego Arrozal)</td>
						<td> ---------------- </td>
					</tr>
					<tr class="full">
						<td>Morumbi</td>
						<td> ---------------- </td>
					</tr>
					<tr class="full">
						<td>Vale do Amanhecer</td>
						<td> ---------------- </td>
					</tr>
					<tr class="full">
						<td>Arapoangas</td>
						<td> ---------------- </td>
					</tr>
					<tr class="full">
						<td>Estância I</td>
						<td> ---------------- </td>
					</tr>
					<tr class="full">
						<td>Posto Urbano do Roriz</td>
						<td> ---------------- </td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="bg-blue ">
			<ul class="list-group list-group-flush">
				<a href="javascript:;" class="bg-blue  lead hover-yellow text-blue-1 list-group-item list-group-item-action" onclick="aparece('local_recanto');">Recanto das Emas</a>
			</ul>
			<table class="ml-3 table" id="local_recanto" style="display: none; ">
				<thead>
					<tr class="full">
						<th scope="col">{% trans 'Local' %}</th>
						<th scope="col">{% trans 'Phone' %}</th>
					</tr>
				</thead>
				<tbody>
					<tr class="full">
						<td>Centro de Saúde nº 02 da Quadra 102 - Área Especial</td>
						<td>3334-1659</td>
					</tr>
					<tr class="full">
						<td>Centro de Saúde nº 01 da Quadra 307 - Área Especial 06 Conj. D</td>
						<td>3331-2822/ 3331-2566</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div >
			<ul class="list-group list-group-flush">
				<a href="javascript:;" class="lead hover-yellow text-blue-1 list-group-item list-group-item-action" onclick="aparece('local_riacho');">Riacho Fundo</a>
			</ul>
			<table class="ml-3 table" id="local_riacho" style="display: none; ">
				<thead>
					<tr class="full">
						<th scope="col">{% trans 'Local' %}</th>
						<th scope="col">{% trans 'Phone' %}</th>
					</tr>
				</thead>
				<tbody>
					<tr class="full">
						<td>Posto de Saúde Riacho Fundo I (QN 07, Área Especial 09)</td>
						<td>3399-3050/3399-2047/3399-2031</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="bg-blue ">
			<ul class="list-group list-group-flush">
				<a href="javascript:;" class="bg-blue  lead hover-yellow text-blue-1 list-group-item list-group-item-action" onclick="aparece('local_sebastiao');">São Sebastião</a>
			</ul>
			<table class="ml-3 table" id="local_sebastiao" style="display: none; ">
				<thead>
					<tr class="full">
						<th scope="col">{% trans 'Local' %}</th>
						<th scope="col">{% trans 'Phone' %}</th>
					</tr>
				</thead>
				<tbody>
					<tr class="full">
						<td>Unidade Mista de São Sebastião Q.02 área especial</td>
						<td>3335-1155 /3335-1639</td>
					</tr>
					<tr class="full">
						<td>Posto de Saúde da Família - Nova Betânia ( Zona Rural)</td>
						<td> ---------------- </td>
					</tr>
				</tbody>
			</table>
		</div>

		<div>
			<ul class="list-group list-group-flush">
				<a href="javascript:;" class="lead hover-yellow text-blue-1 list-group-item list-group-item-action" onclick="aparece('local_samambaia');">Samambaia</a>
			</ul>
			<table class="ml-3 table" id="local_samambaia" style="display: none; ">
				<thead>
					<tr class="full">
						<th scope="col">{% trans 'Local' %}</th>
						<th scope="col">{% trans 'Phone' %}</th>
					</tr>
				</thead>
				<tbody>
					<tr class="full">
						<td>Centro de Saúde nº 01 (QR 408)</td>
						<td>3358-2811/3358-3204</td>
					</tr>
					<tr class="full">
						<td>Centro de Saúde nº 02 (QR 611)</td>
						<td>3359-1001/3359-6444</td>
					</tr>
					<tr class="full">
						<td>Centro de Saúde nº 03 (QR 429)</td>
						<td>3359-5500</td>
					</tr>
					<tr class="full">
						<td>Centro de Saúde nº 04 (QR 512)</td>
						<td>3357-5897</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="bg-blue ">
			<ul class="list-group list-group-flush">
				<a href="javascript:;" class="bg-blue  lead hover-yellow text-blue-1 list-group-item list-group-item-action" onclick="aparece('local_santa_maria');">Santa Maria</a>
			</ul>
			<table class="ml-3 table" id="local_santa_maria" style="display: none; ">
				<thead>
					<tr class="full">
						<th scope="col">{% trans 'Local' %}</th>
						<th scope="col">{% trans 'Phone' %}</th>
					</tr>
				</thead>
				<tbody>
					<tr class="full">
						<td>Centro de Saúde nº 01 (Quadra 307 - Área Especial)</td>
						<td>33393-3737</td>
					</tr>
					<tr class="full">
						<td>Centro de Saúde nº 02 (EQ. 217 / 317 e 218 / 318 Lote E - Santa Maria Norte)</td>
						<td>3394-2150</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div >
			<ul class="list-group list-group-flush">
				<a href="javascript:;" class="lead hover-yellow text-blue-1 list-group-item list-group-item-action" onclick="aparece('local_sobradinho');">Sobradinho</a>
			</ul>
			<table class="ml-3 table" id="local_sobradinho" style="display: none; ">
				<thead>
					<tr class="full">
						<th scope="col">{% trans 'Local' %}</th>
						<th scope="col">{% trans 'Phone' %}</th>
					</tr>
				</thead>
				<tbody>
					<tr class="full">
						<td>Centro de Saúde n° 01 (Quadra 14, Área Especial)</td>
						<td>3591-2779/3591-1829</td>
					</tr>
					<tr class="full">
						<td>Centro de Saúde nº 02 (Quadra 03 Área Especial)</td>
						<td>3591-2744/3591-6342</td>
					</tr>
					<tr class="full">
						<td>Centro de Saúde n° 03 (Sobradinho II)</td>
						<td>3485-6775/3485-7996 </td>
					</tr>
					<tr class="full">
						<td>Catingueiro</td>
						<td> ---------------- </td>
					</tr>
					<tr class="full">
						<td>Córrego do Ouro</td>
						<td> ---------------- </td>
					</tr>
					<tr class="full">
						<td>Engenho Velho</td>
						<td> ---------------- </td>
					</tr>
					<tr class="full">
						<td>Rua do Mato</td>
						<td> ---------------- </td>
					</tr>
					<tr class="full">
						<td>Nova Colina</td>
						<td> ---------------- </td>
					</tr>
					<tr class="full">
						<td>Lago Oeste</td>
						<td> ---------------- </td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="bg-blue ">
			<ul class="list-group list-group-flush">
				<a href="javascript:;" class="bg-blue  lead hover-yellow text-blue-1 list-group-item list-group-item-action" onclick="aparece('local_taguatinga');">Taguatinga</a>
			</ul>
			<table class="ml-3 table" id="local_taguatinga" style="display: none; ">
				<thead>
					<tr class="full">
						<th scope="col">{% trans 'Local' %}</th>
						<th scope="col">{% trans 'Phone' %}</th>
					</tr>
				</thead>
				<tbody>
					<tr class="full">
						<td>Hospital Regional de Taguatinga Setor C Norte AE 24</td>
						<td>3352-3320/ 3353-1181 </td>
					</tr>
					<tr class="full">
						<td>Centro de Saúde nº 01 (QNG Área Especial 18/19)</td>
						<td>3354-4080/3354-1441/3354-2072</td>
					</tr>
					<tr class="full">
						<td>Centro de Saúde nº 02 (QND, Área especial, Praça do Bicalho)</td>
						<td>3354-5542/3354-3020</td>
					</tr>
					<tr class="full">
						<td>Centro de Saúde nº 03 (QNL 1 A/E 02)</td>
						<td>3562-5058/3562-5553/3351-2521</td>
					</tr>
					<tr class="full">
						<td>Centro de Saúde nº 04 (QNC A/E Lote 16)</td>
						<td>3563-6913/3561-1310</td>
					</tr>
					<tr class="full">
						<td>Centro de Saúde nº 05 (Setor D Sul, Área Especial 23)</td>
						<td>3561-2072/3563-5548</td>
					</tr>
					<tr class="full">
						<td>Centro de Saúde nº 06 (Setor C - Sul, Área Especial nº 01)</td>
						<td>3563-7055/3351-5043/3563-8913</td>
					</tr>
					<tr class="full">
						<td>Centro de Saúde nº 07 (QNM 36, Área Especial 10)</td>
						<td>3371-2888/3371-3371/3371-2030</td>
					</tr>
					<tr class="full">
						<td>Centro de Saúde nº 8 (QNL 24 AE)</td>
						<td>3475-1012</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
