{% extends "core/base.html" %}
{% load static %}
{% load i18n %}
{% block css %}
	<link href="{% static 'core/homepage/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  	<!-- Custom fonts for this template -->
    <link href="{% static 'core/homepage/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  	<link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  	<!-- Custom styles for this template -->
  	<link href="{% static 'core/homepage/css/freelancer.css' %}" rel="stylesheet">
  	<link href="{% static 'core/css/home.css' %}" rel="stylesheet">

		<link href="{% static 'core/css/vaccineshedule.css' %}" rel="stylesheet">

{% endblock css %}

{% block content %}

<br/><br/><br/><br/><br/><br/><br/>

<center><h2 class="text-tertiary">{% trans "Vaccine Schedule" %}</h2></center>
<a class="float-right mr-3 lead border pl-2 pr-2 hover-yellow text-blue-1" href="{% url 'core:locations' %}">{% trans "Vaccination Locations" %}</a>
<hr class="star-dark bg-star-white">

<div class="mb-3">
	<ul class="nav nav-tabs nav-tabs-extension nav-fill">
	    <li class="nav-item active border border-light">
	        <a class="nav-link nav-link-extension py-3 px-2 rounded-top" data-toggle="tab" href="#nav-home" aria-controls="nav-home" aria-selected="true">{% trans 'OF BIRTH TO THE 6 YEARS OF AGE'%}</a>
	    </li>
	    <li class="nav-item border border-light">
	        <a class="nav-link nav-link-extension py-3 px-2 rounded-top " data-toggle="tab" href="#nav-profile">{% trans 'FROM 9 YEARS OLD'%}</a>
	    </li>
	</ul>

<!-- 	<div class="nav nav-tabs nav-tabs-extension" id="nav-tab" role="tablist">
	<a class="nav-item nav-link-extension py-3 px-2 rounded-top active show" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">{% trans 'OF BIRTH TO THE 6 YEARS OF AGE'%}</a>
	<a class="nav-item nav-link-extension py-3 px-2 rounded-top show" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">{% trans 'FROM 9 YEARS OLD'%}</a>
	</div> -->
</div>

<div class="tab-content nav-item" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
		<div class="table-responsive">
		  <table class="table table-bordered table-striped">
		    <thead>
		      <tr>
		        <th class="text-light bg-secondary" scope="row" rowspan="2" style="text-align: center;"><h3>{% trans 'Vaccines'%}</h3></th>
		        <th class="text-light bg-secondary" scope="col" colspan="17" style="text-align: center;">{% trans 'OF BIRTH TO THE 6 YEARS OF AGE'%}</th>
		      </tr>

		      <tr>
						<th class="text-light bg-secondary" style="text-align: center;"><font size="2">{% trans 'At Birth'%}</font></th>
		        <th class="text-light bg-secondary" style="text-align: center;"><font size="2">{% trans '1 Month'%}</font></th>
		        <th class="text-light bg-secondary" style="text-align: center;"><font size="2">{% trans '2 Months'%}</font></th>
		        <th class="text-light bg-secondary" style="text-align: center;"><font size="2">{% trans '3 Months'%}</font></th>
		        <th class="text-light bg-secondary" style="text-align: center;"><font size="2">{% trans '4 Months'%}</font></th>
		        <th class="text-light bg-secondary" style="text-align: center;"><font size="2">{% trans '5 Months'%}</font></th>
		        <th class="text-light bg-secondary" style="text-align: center;"><font size="2">{% trans '6 Months'%}</font></th>
		        <th class="text-light bg-secondary" style="text-align: center;"><font size="2">{% trans '7 Months'%}</font></th>
		        <th class="text-light bg-secondary" style="text-align: center;"><font size="2">{% trans '8 Months'%}</font></th>
		        <th class="text-light bg-secondary" style="text-align: center;"><font size="2">{% trans '9 Months'%}</font></th>
		        <th class="text-light bg-secondary" style="text-align: center;"><font size="2">{% trans '12 Months'%}</font></th>
		        <th class="text-light bg-secondary" style="text-align: center;"><font size="2">{% trans '15 Months'%}</font></th>
		        <th class="text-light bg-secondary" style="text-align: center;"><font size="2">{% trans '18 Months'%}</font></th>
		        <th class="text-light bg-secondary" style="text-align: center;"><font size="2">{% trans '24 Months'%}</font></th>
		        <th class="text-light bg-secondary" style="text-align: center;"><font size="2">{% trans '4 Years'%}</font></th>
		        <th class="text-light bg-secondary" style="text-align: center;"><font size="2">{% trans '5 Years'%}</font></th>
		        <th class="text-light bg-secondary" style="text-align: center;"><font size="2">{% trans '6 Years'%}</font></th>

		      </tr>
		      </thead>
		      <tbody>
		      <tr>
		        <th scope="row">{% trans 'BCG ID'%}</th>
		        <td class="bg-success" style="text-align: center;">{% trans 'One dose'%}</td>
		        <td class="bg-info" colspan="14" style="text-align: center;">{% trans 'Vaccinate the previously unvaccinated'%}</td>
		        <td class="bg-warning" colspan="2" style="text-align: center;">{% trans 'Vaccinate people who contacted leprosy'%}</td>
		      </tr>
		      <tr>
		        <th scope="row">{% trans 'Hepatitis B'%}</th>
		        <td class="bg-success" colspan="7" style="text-align: center;">{% trans 'Three or four doses from birth'%}</td>
		        <td class="bg-info" colspan="10" style="text-align: center;">{% trans 'Vaccinate the previously unvaccinated'%}</td>
		      </tr>
		      <tr>
		        <th scope="row">{% trans 'Rotavirus'%}</th>
		        <td></td>
		        <td></td>
		        <td class="bg-success" colspan="6" style="text-align: center;">{% trans 'Two or three doses. Initiate vaccination before 15 weeks of age'%}</td>
		        <td class="bg-danger" colspan="9" style="text-align: center;">{% trans 'CONTRAINDICATED'%}</td>
		      </tr>
		      <tr>
		        <th scope="row">{% trans 'Bacterial triple (DTPw, DTPa, ou dTpa)'%}</th>
		        <td></td>
		        <td></td>
		        <td class="bg-success" colspan="11" style="text-align: center;">{% trans 'Four doses of DTPa or DTPw starting at 2 months of age'%}</td>
		        <td class="bg-info"></td>
		        <td class="bg-success" colspan="2" style="text-align: center;">{% trans 'Reinforcement with DTPa, DTPw or dTpa'%}</td>
		        <td class="bg-info" colspan="1" style="text-align: center;"></td>
		      </tr>
		      <tr>
		        <th scope="row">{% trans '<i>Haemophilus influenzae</i> type b'%}</th>
		        <td></td>
		        <td></td>
		        <td class="bg-success" colspan="11" style="text-align: center;">{% trans 'Four doses starting at 2 months of age'%}</td>
		        <td class="bg-info" colspan="3" style="text-align: center;">{% trans 'Vaccinate the previously unvaccinated'%}</td>
		        <td class="bg-warning" colspan="1" style="text-align: center;">{% trans 'Vaccinate people in special risk situations'%}</td>
		      </tr>
		      <tr>
		        <th scope="row">{% trans 'Poliomyelitis (inactivated virus)'%}</th>
		        <td></td>
		        <td></td>
		        <td class="bg-success" colspan="14" style="text-align: center;">{% trans 'Five doses starting at 2 months of age'%}</td>
		        <td class="bg-warning" colspan="1" style="text-align: center;">{% trans 'Vaccinate people in special risk situations'%}</td>
		      </tr>
		      <tr>
		        <th scope="row">{% trans 'Pneumococcal conjugate'%}</th>
		        <td></td>
		        <td></td>
		        <td class="bg-success" colspan="10" style="text-align: center;">{% trans 'Four doses starting at 2 months of age - VPC10 or VPC13'%}</td>
		        <td class="bg-info" colspan="4" style="text-align: center;">{% trans 'VPC10 or VPC13 - Vaccinate the previously unvaccinated'%}</td>
		        <td class="bg-warning" colspan="1" style="text-align: center;">{% trans 'PCV13: vaccinating people in special risk situations'%}</td>
		      </tr>
		      <tr>
		        <th scope="row">{% trans 'Meningococcal conjugate C or ACWY'%}</th>
		        <td></td>
		        <td></td>
		        <td></td>
		        <td class="bg-success" colspan="7" style="text-align: center;">{% trans 'With menACWY: three doses beginning at 3 months of age. Or with menC: two doses beginning at 3 months of age'%}</td>
		        <td class="bg-success" colspan="2" style="text-align: center;">{% trans 'REINFORCEMENT'%}</td>
		        <td class="bg-info" colspan="3"></td>
		        <td class="bg-success" colspan="2" style="text-align: center;">{% trans 'REINFORCEMENT'%}</td>
		      </tr>
		      <tr>
		        <th scope="row">{% trans 'Meningococcal B'%}</th>
		        <td></td>
		        <td></td>
		        <td></td>
		        <td class="bg-success" colspan="7" style="text-align: center;">{% trans 'Three doses beginning at 3 months of age'%}</td>
		        <td class="bg-success" colspan="2" style="text-align: center;">{% trans 'REINFORCEMENT'%}</td>
		        <td class="bg-success" colspan="5" style="text-align: center;">{% trans 'For those not previously vaccinated: two doses'%}</td>
		      </tr>
		      <tr>
		        <th scope="row">{% trans 'Oral poliomyelitis (live attenuated virus)'%}</th>
		        <td></td>
		        <td></td>
		        <td></td>
		        <td></td>
		        <td></td>
		        <td></td>
		        <td></td>
		        <td class="bg-success" colspan="9" style="text-align: center;">{% trans 'NATIONAL VACCINATION CAMPAIGNS'%}</td>
		        <td></td>
		      </tr>
		      <tr>
		        <th scope="row">{% trans 'Influenza (flu)'%}</th>
		        <td></td>
		        <td></td>
		        <td></td>
		        <td></td>
		        <td></td>
		        <td></td>
		        <td class="bg-success" colspan="11" style="text-align: center;">{% trans 'ANNUAL VACCINATION'%}</td>
		      </tr>
		      <tr>
		        <th scope="row">{% trans 'Yellow fever'%}</th>
		        <td></td>
		        <td></td>
		        <td></td>
		        <td></td>
		        <td></td>
		        <td></td>
		        <td></td>
		        <td></td>
		        <td></td>
		        <td class="bg-success" colspan="8" style="text-align: center;">{% trans 'IN REGIONS WITH RECOMMENDATION OF VACCINATION (ACCORDING TO CLASSIFICATION OF MS) - single dose at 9 months of age. Not previously vaccinated: single dose'%}</td>
		      </tr>
		      <tr>
		        <th scope="row">{% trans 'Viral triple (measles, mumps and rubella)'%}</th>
		        <td></td>
		        <td></td>
		        <td></td>
		        <td></td>
		        <td></td>
		        <td></td>
		        <td></td>
		        <td></td>
		        <td></td>
		        <td></td>
		        <td class="bg-success" colspan="4" style="text-align: center;">{% trans 'Two doses after 12 months'%}</td>
		        <td class="bg-info" colspan="3" style="text-align: center;">{% trans 'Vaccinate the previously unvaccinated'%}</td>
		      </tr>
		      <tr>
		        <th scope="row">{% trans 'Varicella (chickenpox)'%}</th>
		        <td></td>
		        <td></td>
		        <td></td>
		        <td></td>
		        <td></td>
		        <td></td>
		        <td></td>
		        <td></td>
		        <td></td>
		        <td></td>
		        <td class="bg-success" colspan="4" style="text-align: center;">{% trans 'Two doses after 12 months'%}</td>
		        <td class="bg-info" colspan="3" style="text-align: center;">{% trans 'Vaccinate previously unvaccinated susceptibles'%}</td>
		      </tr>
		      <tr>
		        <th scope="row">{% trans 'Hepatitis A'%}</th>
		        <td></td>
		        <td></td>
		        <td></td>
		        <td></td>
		        <td></td>
		        <td></td>
		        <td></td>
		        <td></td>
		        <td></td>
		        <td></td>
		        <td class="bg-success" colspan="4" style="text-align: center;">{% trans 'Two doses after 12 months'%}</td>
		        <td class="bg-info" colspan="3" style="text-align: center;">{% trans 'Vaccinate the previously unvaccinated'%}</td>
		      </tr>
		      <tr>
		        <th scope="row">{% trans 'Pneumococcal 23 courageous'%}</th>
		        <td></td>
		        <td></td>
		        <td></td>
		        <td></td>
		        <td></td>
		        <td></td>
		        <td></td>
		        <td></td>
		        <td></td>
		        <td></td>
		        <td></td>
		        <td></td>
		        <td></td>
		        <td class="bg-warning" colspan="4" style="text-align: center;">{% trans 'Vaccinate people in special risk situations'%}</td>
		      </tr>
		      <tr>
		        <th scope="row" >{% trans 'Dengue'%}</th>
		        <td class="bg-danger" colspan="17" style="text-align: center;">{% trans 'CONTRAINDICATED'%}</td>
		      </tr>
		    </tbody>
		    <thead>
		      <tr>
		        <th class="text-light bg-secondary" scope="row" rowspan="2" style="text-align: center;"><h3>{% trans 'Vaccines'%}</h3></th>
		        <th class="text-light bg-secondary" style="text-align: center;"><font size="2">{% trans 'At Birth'%}</font></th>
		        <th class="text-light bg-secondary" style="text-align: center;"><font size="2">{% trans '1 Month'%}</font></th>
		        <th class="text-light bg-secondary" style="text-align: center;"><font size="2">{% trans '2 Months'%}</font></th>
		        <th class="text-light bg-secondary" style="text-align: center;"><font size="2">{% trans '3 Months'%}</font></th>
		        <th class="text-light bg-secondary" style="text-align: center;"><font size="2">{% trans '4 Months'%}</font></th>
		        <th class="text-light bg-secondary" style="text-align: center;"><font size="2">{% trans '5 Months'%}</font></th>
		        <th class="text-light bg-secondary" style="text-align: center;"><font size="2">{% trans '6 Months'%}</font></th>
		        <th class="text-light bg-secondary" style="text-align: center;"><font size="2">{% trans '7 Months'%}</font></th>
		        <th class="text-light bg-secondary" style="text-align: center;"><font size="2">{% trans '8 Months'%}</font></th>
		        <th class="text-light bg-secondary" style="text-align: center;"><font size="2">{% trans '9 Months'%}</font></th>
		        <th class="text-light bg-secondary" style="text-align: center;"><font size="2">{% trans '12 Months'%}</font></th>
		        <th class="text-light bg-secondary" style="text-align: center;"><font size="2">{% trans '15 Months'%}</font></th>
		        <th class="text-light bg-secondary" style="text-align: center;"><font size="2">{% trans '18 Months'%}</font></th>
		        <th class="text-light bg-secondary" style="text-align: center;"><font size="2">{% trans '24 Months'%}</font></th>
		        <th class="text-light bg-secondary" style="text-align: center;"><font size="2">{% trans '4 Years'%}</font></th>
		        <th class="text-light bg-secondary" style="text-align: center;"><font size="2">{% trans '5 Years'%}</font></th>
		        <th class="text-light bg-secondary" style="text-align: center;"><font size="2">{% trans '6 Years'%}</font></th>
		      </tr>
		      <tr>
		        <th class="text-light bg-secondary" scope="col" colspan="19" style="text-align: center;">{% trans 'OF BIRTH TO THE 6 YEARS OF AGE'%}</th>
		      </tr>
		      </thead>
		  </table>
		</div>
	</div>

	<div class="tab-pane fade nav-item" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
	<!-- Tabela secundária -->
		<div class="table-responsive">
		  <table class="table table-bordered table-striped">
		    <thead>
		      <tr>
		        <th class="text-light bg-secondary" scope="row" rowspan="2" style="text-align: center;"><h3>{% trans 'Vaccines'%}</h3></th>
						<th class="text-light bg-secondary" scope="col" colspan="4" style="text-align: center;">{% trans '9 TO 10 YEARS OLD'%}</th>
		        <th class="text-light bg-secondary" scope="col" colspan="2" style="text-align: center;">{% trans 'ADOLESCENT'%}</th>
		        <th class="text-light bg-secondary" scope="col" colspan="2" style="text-align: center;">{% trans 'ADULT'%}</th>
		        <th class="text-light bg-secondary" scope="col" colspan="2" style="text-align: center;">{% trans 'OLD MAN'%}</th>
		      </tr>

		      <tr>
						<th class="text-light bg-secondary" style="text-align: center;" scope="row" colspan="2"><font size="2" >{% trans '9 Years'%}</font></th>
		        <th class="text-light bg-secondary" style="text-align: center;" scope="row" colspan="2"><font size="2">{% trans '10 Years'%}</font></th>
		        <th class="text-light bg-secondary" style="text-align: center;" colspan="2"><font size="2">{% trans '11-19 Years'%}</font></th>
		        <th class="text-light bg-secondary" style="text-align: center;" colspan="2"><font size="2">{% trans '20-59 Years'%}</font></th>
		        <th class="text-light bg-secondary" style="text-align: center;" colspan="2"><font size="2">{% trans '60+ Years'%}</font></th>
		      </tr>
		      </thead>
		      <tbody>
		      <tr>
		        <th scope="row">{% trans 'BCG ID'%}</th>
		        <td class="bg-warning" colspan="10" style="text-align: center;">{% trans 'Vaccinate people who contacted leprosy'%}</td>
		      </tr>
		      <tr>
		        <th scope="row">{% trans 'Hepatitis B'%}</th>
		        <td class="bg-info" colspan="10" style="text-align: center;">{% trans 'Vaccinate the previously unvaccinated'%}</td>
		      </tr>
		      <tr>
		        <th scope="row">{% trans 'Rotavirus'%}</th>
		        <td class="bg-danger" colspan="10" style="text-align: center;">{% trans 'CONTRAINDICATED'%}</td>
		      </tr>
		      <tr>
		        <th scope="row">{% trans 'Bacterial triple (DTPw, DTPa, ou dTpa)'%}</th>
		        <td class="bg-info" colspan="2" style="text-align: center;"></td>
		        <td class="bg-success" colspan="2" style="text-align: center;">{% trans 'Reinforcement with dTpa from 9 years of age and every 10 years (or, in the case of dTpa, do dT)'%}</td>
		        <td class="bg-success" colspan="6" style="text-align: center;">{% trans 'Reinforcement with dTpa from 9 years of age and every 10 years (or, in the case of dTpa, do dT)'%}</td>
		      </tr>
		      <tr>
		        <th scope="row">{% trans '<i>Haemophilus influenzae</i> type b'%}</th>
		        <td class="bg-warning" colspan="10" style="text-align: center;">{% trans 'Vaccinate people in special risk situations'%}</td>
		      </tr>
		      <tr>
		        <th scope="row">{% trans 'Poliomyelitis (inactivated virus)'%}</th>
		        <td class="bg-warning" colspan="10" style="text-align: center;">{% trans 'Vaccinate people in special risk situations'%}</td>
		      </tr>
		      <tr>
		        <th scope="row">{% trans 'Pneumococcal conjugate'%}</th>
		        <td class="bg-warning" colspan="8" style="text-align: center;">{% trans 'PCV13: vaccinating people in special risk situations'%}</td>
		        <td class="bg-success" style="text-align: center;" colspan="2">{% trans 'VPC13: one dose'%}</td>
		      </tr>
		      <tr>
		        <th scope="row">{% trans 'Meningococcal conjugate C or ACWY'%}</th>
		        <td class="bg-info" colspan="4"></td>
		        <td class="bg-success" style="text-align: center;" colspan="2">{% trans 'REINFORCED at age 11. For those not previously vaccinated: two doses'%}</td>
		        <td class="bg-warning" colspan="4" style="text-align: center;">{% trans 'Vaccinate people in special risk situations'%}</td>
		      </tr>
		      <tr>
		        <th scope="row">{% trans 'Meningococcal B'%}</th>
		        <td class="bg-success" colspan="6" style="text-align: center;">{% trans 'For those not previously vaccinated: two doses'%}</td>
		        <td class="bg-warning" colspan="4" style="text-align: center;">{% trans 'Vaccinate people in special risk situations'%}</td>
		      </tr>
		      <tr>
		        <th scope="row">{% trans 'Influenza (flu)'%}</th>
		        <td class="bg-success" colspan="10" style="text-align: center;">{% trans 'ANNUAL VACCINATION'%}</td>
		      </tr>
		      <tr>
		        <th scope="row">{% trans 'Yellow fever'%}</th>
		        <td class="bg-success" colspan="10" style="text-align: center;">{% trans 'IN REGIONS WITH RECOMMENDATION OF VACCINATION (ACCORDING TO CLASSIFICATION OF MS) - single dose at 9 months of age. Not previously vaccinated: single dose'%}</td>
		      </tr>
		      <tr>
		        <th scope="row">{% trans 'Viral triple (measles, mumps and rubella)'%}</th>
		        <td class="bg-info" colspan="8" style="text-align: center;">{% trans 'Vaccinate the previously unvaccinated'%}</td>
		        <td class="bg-warning" style="text-align: center;" colspan="2">{% trans 'Vaccinate people in special risk situations'%}</td>
		      </tr>
		      <tr>
		        <th scope="row">{% trans 'Varicella (chickenpox)'%}</th>
		        <td class="bg-info" colspan="8" style="text-align: center;">{% trans 'Vaccinate previously unvaccinated susceptibles'%}</td>
		        <td colspan="2"></td>
		      </tr>
		      <tr>
		        <th scope="row">{% trans 'Hepatitis A'%}</th>
		        <td class="bg-info" colspan="8" style="text-align: center;">{% trans 'Vaccinate the previously unvaccinated'%}</td>
		        <td class="bg-warning" style="text-align: center;" colspan  ="2">{% trans 'Vaccinate people in special risk situations'%}</td>
		      </tr>
		      <tr>
		        <th scope="row">{% trans 'HPV'%}</th>
		        <td class="bg-success" colspan="4" style="text-align: center;">{% trans 'Three doses for girls and boys'%}</td>
		        <td class="bg-info" style="text-align: center;" colspan="2">{% trans 'Vaccinate the previously unvaccinated'%}</td>
		        <td class="bg-info" style="text-align: center;" colspan="2">{% trans 'Vaccinate the non-vaccinated formerly: at the discretion of the physician'%}</td>
		        <td colspan="2"></td>
		      </tr>
		      <tr>
		        <th scope="row">{% trans 'Pneumococcal 23 courageous'%}</th>
		        <td class="bg-warning" colspan="8" style="text-align: center;">{% trans 'Vaccinate people in special risk situations'%}</td>
		        <td class="bg-success" style="text-align: center;" colspan="2">{% trans 'Two doses at five-year intervals'%}</td>
		      </tr>
		      <tr>
		        <th scope="row">{% trans 'Herpes zoster'%}</th>
		        <td colspan="2"></td>
		        <td colspan="2"></td>
		        <td colspan="2"></td>
		        <td class="bg-warning" style="text-align: center;" colspan="2">{% trans 'From 50 to 59 years old: at medical discretion'%}</td>
		        <td class="bg-success" style="text-align: center;" colspan="2">{% trans 'One dose'%}</td>
		      </tr>
		      <tr>
		        <th scope="row">{% trans 'Dengue'%}</th>
		        <td class="bg-success" colspan="8" style="text-align: center;">{% trans 'To vaccinate people aged 9 to 45 years previously infected with the virus (seropositive) with three doses: 0 - 6 - 12 months'%}</td>
		        <td class="bg-danger" style="text-align: center;" colspan="2">{% trans 'CONTRAINDICATED'%}</td>
		      </tr>
		    </tbody>
		    <thead>
		      <tr>
		        <th class="text-light bg-secondary" scope="row" rowspan="2" style="text-align: center;"><h3>{% trans 'Vaccines'%}</h3></th>
		        <th class="text-light bg-secondary" style="text-align: center;" scope="row" colspan="2"><font size="2" >{% trans '9 Years'%}</font></th>
		        <th class="text-light bg-secondary" style="text-align: center;" scope="row" colspan="2"><font size="2">{% trans '10 Years'%}</font></th>
		        <th class="text-light bg-secondary" style="text-align: center;" colspan="2"><font size="2">{% trans '11-19 Years'%}</font></th>
		        <th class="text-light bg-secondary" style="text-align: center;" colspan="2"><font size="2">{% trans '20-59 Years'%}</font></th>
		        <th class="text-light bg-secondary" style="text-align: center;" colspan="2"><font size="2">{% trans '60+ Years'%}</font></th>
		      </tr>
		      <tr>
				<th class="text-light bg-secondary" scope="col" colspan="4" style="text-align: center;">{% trans '9 TO 10 YEARS OLD'%}</th>
		        <th class="text-light bg-secondary" scope="col" style="text-align: center;" colspan="2">{% trans 'ADOLESCENT'%}</th>
		        <th class="text-light bg-secondary" scope="col" style="text-align: center;" colspan="2">{% trans 'ADULT'%}</th>
		        <th class="text-light bg-secondary" scope="col" style="text-align: center;" colspan="2">{% trans 'OLD MAN'%}</th>
		      </tr>
		      </thead>
		  </table>
		</div>
	</div>
</div>

<br/>

<img class="rounded mx-auto d-block" src="/static/core/images/Subtitle.png">

<br/><br/>

{% endblock content %}
