{% extends 'core/base.html' %}
{% load static i18n %}

{% block title %}
  {% url 'events:create_event' as url %}
  {% if request.path == url %}
    {% trans "New Event" %}
<!--   {% else %}
    {% trans "Edit Appointment" %} -->
  {% endif %}
{% endblock %}

{% block content %}
  {% if object %}
    <h2>{% trans 'Edit Event' %}</h2>
  {% else %}
    <h2>{% trans 'New Event' %}</h2>
  {% endif %}
<form method='post' class="mt-3">
	{% csrf_token %}

  <div class="row">
		<div class="form-group col">
			{% if object.name %}
        <label>{% trans 'Name' %}</label>
			  <input class="form-control" type="text" name="name" maxlength="80" required id="id_name" value="{{ object.name }}"/>
      {% else %}
        <label>{% trans 'Name' %}</label>
			  <input class="form-control" type="text" name="name" maxlength="80" required id="id_name"/>
			  <small class="text-muted">{% trans 'Enter a event organizer' %}</small>
		  {% endif %}
    </div>
	</div>

  <div class="row">
		<div class="form-group col">
      <label for="id_date">{% trans 'Date' %}</label>
      {% if object.date %}
			  <input class="form-control" type="date" name="date" required id="id_date" value="{{ object.date | date:'Y-m-d' }}" />
			{% else %}
        <input class="form-control" type="date" name="date" required id="id_date" />
        <small class="text-muted">{% trans 'Enter a event date' %}</small>
      {% endif %}
		</div>

		<div class="form-group col">
      {% if object.time %}
			  <label for="id_time">{% trans 'Time' %}</label>
			  <input class="form-control" type="time" name="time" required id="id_time" value="{{ object.time }}"/>
			 {% else %}
        <label for="id_time">{% trans 'Time' %}</label>
			  <input class="form-control" type="time" name="time" required id="id_time"/>
        <small class="text-muted">{% trans 'Enter a event time' %}</small>
       {% endif %}
		</div>
	</div>

	<div class="row">
		<div class="form-group col">
			{% if object.organize_by %}
        <label for="id_organize_by">{% trans 'Organize by' %}</label>
			  <input class="form-control" type="text" name="organize_by" maxlength="80" required id="id_organize_by" value="{{ object.organize_by }}"/>
      {% else %}
        <label for="id_organize_by">{% trans 'Organize by' %}</label>
			  <input class="form-control" type="text" name="organize_by" maxlength="80" required id="id_organize_by" />
			  <small class="text-muted">{% trans 'Enter a event organizer' %}</small>
		  {% endif %}
    </div>

		<div class="form-group col">
      {% if object.value %}
        <label for="id_value">{% trans 'Value of event' %}</label>
			  <input class="form-control" type="number" name="value" step="0.10" required id="id_value" min="0" max="99.99" value="{{ object.value|stringformat:'g' }}"/>
      {% else %}
			  <label for="id_value">{% trans 'Value of event' %}</label>
			  <input class="form-control" type="number" name="value" step="0.10" required id="id_value" min="0" max="99.99"/>
        <small class="text-muted">{% trans 'Enter a value between R$00,00 to R$99,00' %}</small>
      {% endif %}
		</div>
	</div>

	<div class="form-group">
    {% if object.description %}
		  <label for="id_description">{% trans 'Description' %}</label>
		  <textarea class="form-control" name="description" cols="40" rows="5" maxlength="500" id="id_description" required>{{object.description}}</textarea>
		  <small class="text-muted">{% trans 'Enter event description and details' %}</small>
    {%else%}
       <label for="id_description">{% trans 'Description' %}</label>
		    <textarea class="form-control" name="description" cols="40" rows="5" maxlength="500" id="id_description" required></textarea>
		    <small class="text-muted">{% trans 'Enter event description and details' %}</small>
    {% endif %}
	</div>

	<button type="submit" class="btn btn-sucess">Create</button>
</form>

{% endblock %}
