{% extends 'core/base.html' %}
{% load static i18n %}

{% block title %}
  {% url 'events:create_event' as url %}
  {% if request.path == url %}
    {% trans "Event" %}
<!--   {% else %}
    {% trans "Edit Appointment" %} -->
  {% endif %}
{% endblock %}


{% block content %}

    <h1 class="mb-5">{% trans 'Events'%}</h1>

  ]

    <div class="accordion" id="accordionmenu3">
        {% for event in events_list %}
                  <div class="card">
                    <div class="card-header" id="heading{{ event.pk }}">
                       <div  style="margin-left: 40%">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse{{ event.pk }}">
                          <h4>{{ event.name }}</h4>
                        </button>
                       </div>
                    </div>
                    <div id="collapse{{ event.pk }}" class="collapse" data-parent="#heading{{ event.pk }}">
                      <div class="card-body">
                        <div class="row">
                          <label class="col"><strong>{% trans 'Date' %} :</strong></label>
                          <label class="col"><strong>{% trans 'Time' %} :</strong></label>
                        </div>
                        <div class="row">
                            <div class="col mx-3 alert alert-dark" role="alert">
                              <div class="col">{{ event.date }}</div>
                            </div>
                            <div class="col mx-3 alert alert-dark" role="alert">
                              <div class="col">{{ event.time }}</div>
                            </div>
                        </div>
                        <div class="row">
                          <label class="col"><strong>{% trans 'Organize by' %} :</strong></label>
                          <label class="col"><strong>{% trans 'Value' %} :</strong></label>
                        </div>
                        <div class="row">
                            <div class="col mx-3 alert alert-dark" role="alert">
                              <div class="col">{{ event.organize_by }}</div>
                            </div>
                            <div class="col mx-3 alert alert-dark" role="alert">
                              <div class="col">R$ {{ event.value }}</div>
                            </div>
                        </div>
                        <div class="row">
                          <label class="col"><strong>Description</strong></label>
                        </div>
                        <div class="row">
                            <div class="col mx-3 alert alert-dark" role="alert">
                              <div class="col">{{ event.description }}</div>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                {% empty %}
                  <h4>{% trans 'There are no exams registered for this patient.'%}</h4>
                {% endfor %}
              </div>
            </div>
{% endblock %}
