{% extends "core/base.html" %}
{% load static i18n %}
{% block title %}{% trans "Select a patient" %}{% endblock %}

{% block content %}
<div class="container">
  <h2 class="text-tertiary">{% trans "Select a patient" %}</h2>

  <div class="list-group">

    {% for patient in patient_list %}
      <a href= "{% url 'careline:checklist_detail' patient.user.username  %}" class=" h-blue list-group-item" >
        <div class="d-flex w-10 justify-content-start">
         
          {% if patient.user.photo %}
            <img class="d-flex mr-3 rounded-circle" src="{{patient.user.photo.url}}" alt="" width="80px">
          {% else %}
            <img class="d-flex mr-3 rounded-circle" src="{% static 'users/img/user.png' %}" width="80px">
          {% endif %}

          <div class="list-group">
            <h4 class="list-group-item-heading text-tertiary h-blue" >{{ patient.user.name }}</h4>
            <p class="text-tertiary h-blue"> {% trans 'SES: ' %} {{patient.ses}}</p>
          </div>
        </div>
      </a>
    {% empty %}
        <h4>{% trans 'There are no patients for this user.'%}</h4>
    {% endfor %}

  </div>
</div>
{% endblock content %}
