.left-btn{
  margin-left: 75%;
}

.search{
  padding: 30px;
}

.align-btn{
  margin-top: 22px;
}

.align-photo{
  position: relative;
  padding-right: 20px;
  padding-bottom: 25px;
  max-width:200px;
    max-height:150px;
    width: auto;
    height: auto;

}

.margintoleft{
  width: 50%;
  height: 50%;
  position: relative ;
  top:-150px;
  right: -200px;

}

.size-cont{
  width: 70%;
  height: 370px;
  position: relative;
  left: 100px;
}

