/* Customize the label (the container) */
.container-checklist {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 23px;
  width: 23px;
}

.required {
  background-color: #ff6347;
  border: 2px solid #bc0f00;
}

.when_needed {
  background-color: #ffce47;
  border: 2px solid #f9b700;
}

._disabled{
  background-color: transparent
}


/* When the checkbox is checked, add a green background */
.container input:checked ~ .checkmark {
  background-color: #3cb371;
  border: 2px solid #009320;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 6px;
  top: 2px;
  width: 9px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.fix {
    position: sticky;
    position: -webkit-sticky;
    top: -5px;
    background: white;
    z-index: 10;
}

