.p-6 {
  padding: 5rem;
}

.pt-6,
.py-6 {
  padding-top: 5rem;
}

.pr-6,
.px-6 {
  padding-right: 5rem;
}

.pb-6,
.py-6 {
  padding-bottom: 5rem;
}

.pl-6,
.px-6 {
  padding-left: 5rem;
}

.mrt-5 {
	margin-right: 20rem;
}

.col-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}

.col-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}

.pr-7 {
  padding-right: 8rem;
}

.pr-13 {
	padding-right: 13rem;
}