{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">

      <h2>{{ object.username }}</h2>
      {% if object.name %}
        <p>{{ object.name }}</p>
      {% endif %}
    </div>
  </div>

  <div class="container" >
      {% if user.patient %}
        <p><strong> SES: </strong> {{ patient_ses }} </p>
        <p><strong> {% trans "Priority" %} : </strong> {{ patient_priority }} </p>
        <p><strong> {% trans "Mother name" %} : </strong> {{ patient_mother_name }} </p>
        <p><strong> {% trans "Father name" %} : </strong> {{ patient_father_name }} </p>
        <p><strong> {% trans "Ethnicity" %} : </strong> {{ patient_ethnicity }} </p>
        <p><strong> {% trans "SUS number" %} : </strong> {{ patient_sus_number }} </p>
        <p><strong> {% trans "Civil registry of birth" %} : </strong> {{ patient_civil_registry_of_birth }} </p>
        <p><strong> {% trans "Declaration of live birth" %} : </strong> {{ patient_declaration_of_live_birth }} </p>
      {% endif %}
  </div>

{% if object == request.user %}
<!-- Action buttons -->
<div class="row">

  <div class="col-sm-12">
    <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">My Info</a>
    <a class="btn btn-primary" href="{% url 'account_email' %}" role="button">E-Mail</a>
    <!-- Your Stuff: Custom user template urls -->
  </div>

</div>
<!-- End Action buttons -->
{% endif %}


</div>
{% endblock content %}

