{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Commentary" %}{% endblock %}

{% block inner %}
<h1>{% trans "Delete" %}</h1>

<form method="post" action="">
  {% csrf_token %}
  <p>{% trans 'Are you sure you want to delete this commentary?' %} </p>
  <button class="btn btn-danger" type="submit">{% trans 'Delete' %}</button>
  <a href="{% url 'forum:list_commentary' commentary.post.category.slug commentary.post.category.pk commentary.post.pk %}" class="btn btn-secondary">{% trans "Cancel" %}</a>
</form>


{% endblock %}
