{% extends 'base.html' %}
{% load static i18n %}

{% block title %}{% trans "New Commentary" %}{% endblock %}

{% block content %}
  <div class="container">
    <ol class="breadcrumb my-4">
      <li class="breadcrumb-item"><a href="{% url 'forum:list_categories' %}">{% trans "Categories" %}</a></li>
      <li class="breadcrumb-item"><a href="{% url 'forum:list_posts' post.category.slug post.category.pk %}">{% trans "Posts" %}</a></li>
      <li class="breadcrumb-item"><a href="{% url 'forum:list_commentary' post.category.slug post.category.pk post.pk %}">{{post.title}}</a></li>
      <li class="breadcrumb-item active">{% trans "New Commentary" %}</li>
    </ol>
  </div>
  <div class="container">
    <h2>{% trans "New Commentary" %}</h2><hr>
    <form method="post">
      {% csrf_token %}
       {{ form.as_p }}
      <button type="submit" class="btn btn-success">{% trans "Post" %}</button>
    </form>
  </div>

{% endblock %}
