{% extends "base.html" %}
{% load static i18n %}
{% block title %}{% trans "Posts" %}{% endblock %}

{% block content %}
<div class="container">
  <h2>{% trans "Posts" %}</h2>

  <div class="mb-4">
    <a href="{% url 'forum:create_post' category_slug category_pk %}" class="btn btn-primary">New post</a>
  </div>

  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>Post</th>
        <th>Starter</th>
        <th>Commentaries</th>
        <th>Last Update</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for post in post_list %}
        <tr>
          <td>{{ post.title }}</td>
          <td>{{ post.created_by.username }}</td>
          <td>0</td>
          <td>{{ post.updated_at }}</td>
          <td> <a href="{% url 'forum:update_post' category_slug category_pk post.pk %}" class="btn btn-secondary">Edit</td>
          <td> <a href="{% url 'forum:delete_post' category_slug category_pk post.pk %}" class="btn btn-danger">Delete</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock content %}
