{% extends "base.html" %}
{% load static i18n %}
{% block title %}{% trans "Posts" %}{% endblock %}

{% block content %}
<div class="container">

  <div class="container">
    <ol class="breadcrumb my-4">
      <li class="breadcrumb-item"><a href="{% url 'forum:list_categories' %}">{% trans "Categories" %}</a></li>
      <li class="breadcrumb-item active">{% trans "Posts" %}</li>
    </ol>
  </div>

  <h2>{% trans "Posts" %}</h2><hr>


  <div class="mb-4">
    <a href="{% url 'forum:create_post' post_category.slug post_category.pk %}" class="btn btn-primary">{% trans "New post" %}</a>
  </div>

  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>{% trans "Post" %}</th>
        <th>{% trans "Starter" %}</th>
        <th>{% trans "Commentaries" %}</th>
        <th>{% trans "Last Update" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for post in post_list %}
        <tr>
          <td><a href="{% url 'forum:list_commentary' post.category.slug post.category.pk post.pk %}">
            {{ post.title }} </td>
          <td>{{ post.created_by.username }}</td>
          <td>0</td>
          <td>{{ post.updated_at }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock content %}
