{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block css %}

  <link href="{% static 'homepage/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="{% static 'homepage/css/freelancer.css' %}" rel="stylesheet">


{% endblock css %}

{% block content %}
	<header class="masthead bg-primary text-white text-center">
	  <div class="container">
	    <img class="img-fluid mb-5 d-block mx-auto" src="../../static/homepage/img/prognosis-logo.png" alt="">
	    <h1 class="text-uppercase mb-0">{% trans "Dr. Down" %}</h1>
	    <hr class="star-light">
	    <h2 class="font-weight-light mb-0">
        <p>{% trans "CRIS DOWN" %}</p>
	      <p>{% trans "Medical Appointment - Queue - Foruns - Information" %}</p>
	    </h2>
	  </div>
	</header>

	<!-- About Section -->
	<section class="mb-0 text-secondary" id="about">
	  <div class="container">
	    <h2 class="text-center text-uppercase">{% trans "About" %}</h2>
	    <hr class="star-dark mb-5">
	    <div class="row">
	      <div class="col-lg-4 ml-auto">
	        <p class="lead">{% trans "Dr. Down is a management tool for CRIS DOWN (Centro de Referência em Síndrome de Down) that makes possible to schedule medical appointments, to comunicate with the doctor and visualize general information." %}</p>
	      </div>
	      <div class="col-lg-4 mr-auto">
	        <p class="lead">{% trans "CRIS DOWN was opened at Asa Norte, Brasília - DF, in April 2013. It is a place especialized in caring and accompaniment of patients with Down's syndrome, also known as trisomy 21." %}</p>
        </div>
	    </div>
	  </div>
	</section>


{% endblock content %}
