{% extends "core/base.html" %}
{% load static i18n %}

{% block content %}

  <div class="container">

    <h2 class="text-tertiary">{% trans "Requests" %}</h2>

    <div class="alert alert-success" role="alert">
      <p>{% trans "You have" %} {{requests|length}} {% trans "appointments requests" %}.</p>
    </div>

    <h2 class="text-tertiary">{% trans "Forum" %}</h2>

    <div class="alert alert-success" role="alert">
      <p>{% trans "Your last post has" %} {{ commentaries | length }} {% trans " commentaries" %}.</p>
    </div>

  </div>

{% endblock %}
