{% extends "core/base.html" %}
{% load static i18n %}

{% block content %}

  <div class="container">

    <h2 class="text-tertiary">{% trans "Appointments" %}</h2>

    <div class="alert alert-success" role="alert">
      <p>{% trans "You have" %} {{appointments|length}} {% trans "appointments today" %}.</p>
    </div>

    <h2 class="text-tertiary">{% trans "Forum" %}</h2>

    <div class="alert alert-success" role="alert">
      <p>{% trans "Your last post has" %} {{ commentaries | length }} {% trans " commentaries" %}.</p>
    </div>

    <h2 class="text-tertiary">{% trans "Events" %}</h2>

    <div class="alert alert-success" role="alert">
      <p>{% trans "There are" %} {{events|length}} {% trans "events on the next 7 days" %}.</p>
    </div>


  </div>

{% endblock %}
