{% extends "core/base.html" %}
{% load static i18n %}

{% block content %}

  <div class="container">

    <h2 class="text-tertiary">{% trans "Appointments" %}</h2>

    {% if appointments|length > 0 %}
      <div class="alert alert-success" role="alert">
        <a href="{% url 'appointments:list_appointments' %}" class="alert-success" >
          <p>{% trans "You have" %} {{appointments|length}} {% trans "appointments today" %}.</p>
        </a>
      </div>
    {% else %}
      <div class="alert alert-success" role="alert">
        <p>{% trans "You have no appointments today" %}.</p>
      </div>
    {% endif %}

    <h2 class="text-tertiary">{% trans "Forum" %}</h2>
    {% if commentaries|length > 0  %}
      <div class="alert alert-success" role="alert">
        <a href="{% url 'forum:list_categories' %}" class="alert-success" >
          <p>{% trans "Your last post has" %} {{ commentaries|length }}
            {% trans " commentaries" %}.
          </p>
        </a>
      </div>
    {% else %}
      <div class="alert alert-success" role="alert">
        <p>{% trans "Your last post has no commentaries" %}.
        </p>
      </div>
    {% endif %}

    <h2 class="text-tertiary">{% trans "Events" %}</h2>
    {% if events|length > 0 %}
      <div class="alert alert-success" role="alert">
        <a href="{% url 'events:list_events' %}" class="alert-success" >
          <p>{% trans "There are" %} {{events|length}} {% trans "events on the next 7 days" %}.</p>
        </a>
      </div>
    {% else %}
      <div class="alert alert-success" role="alert">
        <p>{% trans "There are no events on the next 7 days" %}.</p>
      </div>
    {% endif %}

  </div>

{% endblock %}
