{% extends "core/base.html" %}
{% load static i18n %}

{% block content %}

  <div class="container">
    {% now 'm-d-Y' as today %}
    {% if request.user.birthday ==  today%}
      <h2 class="text-tertiary">{% trans "Procedures" %}</h2>

      <div class="alert alert-success" role="alert">
        <p>{% trans 'You are completing'%} {{ request.user.age }}. {% trans 'Are your vaccines and checklist up to date'%}? </p>
      </div>


    {% endif %}

    <h2 class="text-tertiary">{% trans "Appointments" %}</h2>

    {% if scheduled|length > 0 %}
      <div class="alert alert-success" role="alert">
        <a href="{% url 'appointments:list_requests' %}" class="alert-success" >
          <p>{% trans "You have" %} {{scheduled|length}}
            {% trans "appointments requests accepted and not visualized" %}.
          </p>
        </a>
      </div>
    {% else %}
      <div class="alert alert-success" role="alert">
        <p>{% trans "There are no appointment requests scheduled and not visualized" %}.</p>
      </div>
    {% endif %}

    {% if cancel|length > 0 %}
      <div class="alert alert-danger" role="alert">
        <a href="{% url 'appointments:list_requests' %}" class="alert-success" >
          <p>{% trans "You have" %} {{cancel|length}}
            {% trans "appointment requests declined and not visualized" %}.
          </p>
        </a>
      </div>
    {% else %}
      <div class="alert alert-danger" role="alert">
        <p>{% trans "There are no appointment requests declined and not visualized" %}.</p>
      </div>
    {% endif %}


    <h2 class="text-tertiary">{% trans "Events" %}</h2>
    {% if events|length > 0 %}
      <div class="alert alert-success" role="alert">
        <a href="{% url 'events:list_events' %}" class="alert-success" >
          <p>{% trans "There are" %} {{events|length}} {% trans "events on the next 7 days" %}.</p>
        </a>
      </div>
    {% else %}
      <div class="alert alert-success" role="alert">
        <p>{% trans "There are no events on the next 7 days" %}.</p>
      </div>
    {% endif %}

    <h2 class="text-tertiary">{% trans "Forum" %}</h2>
    {% if commentaries|length > 0  %}
      <div class="alert alert-success" role="alert">
        <a href="{% url 'forum:list_categories' %}" class="alert-success" >
          <p>{% trans "Your last post has" %} {{ commentaries|length }}
            {% trans " commentaries" %}.
          </p>
        </a>
      </div>
    {% else %}
      <div class="alert alert-success" role="alert">
        <p>{% trans "Your last post has no commentaries" %}.
        </p>
      </div>
    {% endif %}

  </div>

{% endblock %}
