{% extends "core/base.html" %}
{% load static i18n %}

{% block content %}

    {% now 'm-d-Y' as today %}

    {% for patient in patients %}
      {% if patient.user.birthday|date:'m-d-Y' ==  today %}
        <h2 class="text-tertiary">{% trans "Procedures" %}</h2>

        <div class="alert alert-success" role="alert">
          <p>{{ patient.user.name }} {% trans 'is completing'%} {{ request.user.age }} {% trans 'years old' %}. {% trans 'Are vaccines and checklist up to date'%}? </p>
        </div>


      {% endif %}
    {% endfor %}


    <h2 class="text-tertiary">{% trans "Appointments" %}</h2>

    <div class="alert alert-success" role="alert">
      {% for name, appointments in patients_list_schedule.items %}
        <p>{{ name }} {% trans "has" %} {{ appointments | length }} {% trans "appointments requests accepted and not visualized" %}.</p>
      {% endfor %}
    </div>

    <div class="alert alert-success" role="alert">
      {% for name, appointments in patients_list_cancel.items %}
        <p>{{ name }} {% trans "has" %} {{ appointments | length }} {% trans "appointments requests declined and not visualized" %}.</p>
      {% endfor %}
    </div>

    <h2 class="text-tertiary">{% trans "Forum" %}</h2>

    <div class="alert alert-success" role="alert">
      <p>{% trans "Your last post has" %} {{ commentaries | length }} {% trans " commentaries" %}.</p>
    </div>

    <h2 class="text-tertiary">{% trans "Events" %}</h2>

    <div class="alert alert-success" role="alert">
      <p>{% trans "There are" %} {{events|length}} {% trans "events on the next 7 days" %}.</p>
    </div>



{% endblock %}
