.bg-blue {
  background-color: #CAE1FF;
}

hr.bg-star-blue:after{
  background-color: #CAE1FF;
}

#location{
  width: 100%;
}

.text-blue-1{
	color: #2C3E50;
}

a.hover-yellow:hover {
	color: #0A0A2A;
}

/*@media (min-width: 992px) {
  #mainNav{
    height: 10%;
  }
}*/

span.description{
  display: none;
}

.feature{
  color:#2C3E50;
}

div.feature{
  min-height: 18rem;
  height: auto !important;
}

div.feature:hover span.description{
  display: block;
}

div.feature:hover i.icon{
  font-size: 6rem;
}

.border-secondary{
  border-width: 4px !important;
  border-color: #2C3E50 !important;
}

/* Wrapper */
.wrapper {
  padding: 1rem 0 0rem 0 ;
  position: relative;
  z-index: 1;
}

.highlights .content{
  padding: 1rem;
}

@media screen and (max-width: 1280px) {
  .wrapper {
    padding: 4rem 0 2rem 0 ; 
  } 
}
@media screen and (max-width: 736px) {
  .wrapper {
    padding: 3rem 0 1rem 0 ; 
    } 
  }
@media screen and (max-width: 480px) {
  .wrapper {
    padding: 2rem 0 0.1rem 0 ; 
  }
}

.inner {
  margin: 0 auto;
  width: 75rem;
  max-width: calc(100% - 6rem);
}

header.special {
  text-align: center;
  margin-bottom: 4rem;
}

header.special p {
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.highlights {
  width: 100%;
  margin: 2.5rem 0;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -moz-align-items: -moz-stretch;
  -webkit-align-items: -webkit-stretch;
  -ms-align-items: -ms-stretch;
  align-items: stretch;
}
  .highlights > * {
    -moz-flex-shrink: 1;
    -webkit-flex-shrink: 1;
    -ms-flex-shrink: 1;
    flex-shrink: 1;
    -moz-flex-grow: 0;
    -webkit-flex-grow: 0;
    -ms-flex-grow: 0;
    flex-grow: 0; }
  .highlights > * {
    width: 33.3333333333%; }
  .highlights > * {
    padding: 1.5rem;
    width: calc(33.3333333333% + 1rem); }
  .highlights > :nth-child(-n + 3) {
    padding-top: 0; }
  .highlights > :nth-last-child(-n + 3) {
    padding-bottom: 0; }
  .highlights > :nth-child(3n + 1) {
    padding-left: 0; }
  .highlights > :nth-child(3n) {
    padding-right: 0; }
  .highlights > :nth-child(3n + 1),
  .highlights > :nth-child(3n) {
    width: calc(33.3333333333% + -0.5rem); }
  .highlights .content {
    border-radius: 4px;
    height: 100%;
    padding: 3rem;
    text-align: center; }
    .highlights .content .icon {
      font-size: 5rem; }
  .highlights > div > :last-child {
    margin-bottom: 0; }
  @media screen and (max-width: 980px) {
    .highlights > * {
      width: 50%; }
    .highlights > * {
      padding: 1rem;
      width: calc(33.3333333333% + 0.6666666667rem); }
    .highlights > :nth-child(-n + 3) {
      padding-top: 1rem; }
    .highlights > :nth-last-child(-n + 3) {
      padding-bottom: 1rem; }
    .highlights > :nth-child(3n + 1) {
      padding-left: 1rem; }
    .highlights > :nth-child(3n) {
      padding-right: 1rem; }
    .highlights > :nth-child(3n + 1),
    .highlights > :nth-child(3n) {
      padding: 1rem;
      width: calc(50% + 1rem); }
    .highlights > * {
      padding: 1rem;
      width: calc(50% + 1rem); }
    .highlights > :nth-child(-n + 2) {
      padding-top: 0; }
    .highlights > :nth-last-child(-n + 2) {
      padding-bottom: 0; }
    .highlights > :nth-child(2n + 1) {
      padding-left: 0; }
    .highlights > :nth-child(2n) {
      padding-right: 0; }
    .highlights > :nth-child(2n + 1),
    .highlights > :nth-child(2n) {
      width: calc(50% + 0rem); }
    .highlights .content {
      padding: 2rem; } }
  @media screen and (max-width: 736px) {
    .highlights > * {
      width: 100%; }
    .highlights > * {
      padding: 1rem;
      width: calc(33.3333333333% + 0.6666666667rem); }
    .highlights > :nth-child(-n + 3) {
      padding-top: 1rem; }
    .highlights > :nth-last-child(-n + 3) {
      padding-bottom: 1rem; }
    .highlights > :nth-child(3n + 1) {
      padding-left: 1rem; }
    .highlights > :nth-child(3n) {
      padding-right: 1rem; }
    .highlights > :nth-child(3n + 1),
    .highlights > :nth-child(3n) {
      padding: 1rem;
      width: calc(100% + 2rem); }
    .highlights > * {
      padding: 1rem;
      width: calc(50% + 1rem); }
    .highlights > :nth-child(-n + 2) {
      padding-top: 1rem; }
    .highlights > :nth-last-child(-n + 2) {
      padding-bottom: 1rem; }
    .highlights > :nth-child(2n + 1) {
      padding-left: 1rem; }
    .highlights > :nth-child(2n) {
      padding-right: 1rem; }
    .highlights > :nth-child(2n + 1),
    .highlights > :nth-child(2n) {
      padding: 1rem;
      width: calc(100% + 2rem); }
    .highlights > * {
      padding: 1rem;
      width: calc(100% + 2rem); }
    .highlights > :nth-child(-n + 1) {
      padding-top: 0; }
    .highlights > :nth-last-child(-n + 1) {
      padding-bottom: 0; }
    .highlights > :nth-child(1n + 1) {
      padding-left: 0; }
    .highlights > :nth-child(1n) {
      padding-right: 0; }
    .highlights > :nth-child(1n + 1),
    .highlights > :nth-child(1n) {
      width: calc(100% + 1rem); } }

.highlights .content {
  background: #ffffff;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.025);
}

.icon {
  text-decoration: none;
  border-bottom: none;
  position: relative;
}

.icon:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}
.icon > .label {
  display: none;
  }
