{% load static i18n %}

<div class="row mb-5">
  <div class="col">
    <h3 >{% trans 'Curves' %}</h3>
  </div>
</div>

<div class="row mb-5">

  <div class="col border-bottom">
    TODO: INSERT GRAPH (PLACEHOLDER)
    <img class="img-fluid mb-5 d-block mx-auto" src="{% static 'core/homepage/img/prognosis-logo.png' %}" alt="">
    TODO: INSERT GRAPH
  </div>
</div>

<div class="row mb-5">

  <div class="col-auto">
    <div class="table-responsive">
      <table class="table table-hover table-sm table-bordered">

        <thead class="btn-secondary">
          <tr>
            {% if request.user.healthteam or request.user.employee%}
              <th class="col-auto" scope="col">
                <a href="{% url 'medicalrecords:create_curve' view.kwargs.username %}" class="btn btn-success float-right" >{% trans "Add" %}</a>
              </th>
            {% endif %}
            <th class="col-auto" scope="col">{% trans 'Age' %} </th>
            <th class="col-auto" scope="col">{% trans 'Weight' %} </th>
            <th class="col-auto" scope="col">{% trans 'Height' %}</th>
            <th class="col-auto" scope="col">{% trans 'Cephalic Perimeter' %} </th>
            <th class="col-auto" scope="col">{% trans 'BMI' %} </th>
          </tr>
        </thead>

        <tbody>
          {% for curve in related_patient.curves_set.all %}
            <tr>

              {% if request.user.healthteam or request.user.employee%}
                <td>
                  <a href="{% url 'medicalrecords:update_curve' view.kwargs.username curve.pk %}" class="btn btn-secondary" >{% trans "Edit" %}</a>
                </td>
              {% endif %}
              <td>{{curve.age}}</td>
              <td>{{curve.weight|floatformat}}</td>
              <td>{{curve.height}}</td>
              <td>{{curve.cephalic_perimeter}}</td>
              <td>{{curve.bmi}}</td>


            </tr>
          {% endfor %}
        </tbody>

      </table>
    </div>
  </div>


</div>
