{% load static i18n %}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>


<div class="row mb-5">
  <div class="col">
    {% if request.user.healthteam or request.user.employee%}
      <th class="col-auto" scope="col">
        <a href="{% url 'medicalrecords:create_curve' view.kwargs.username %}" class="btn btn-success float-right" >{% trans "Add" %}</a>
      </th>
    {% endif %}
    <h3 >{% trans 'Curves' %}</h3>
  </div>
</div>

<div class="row mb-5">
  <div class="col-auto">
    <div class="table-responsive">
      <table class="table table-bordered">

        <thead class="bg-secondary text-white">
          <tr>
            <th width="200px">{% trans 'Age' %} </th>
            <th width="200px">{% trans 'Weight' %} </th>
            <th width="200px">{% trans 'Height' %}</th>
            <th width="200px">{% trans 'Cephalic Perimeter' %} </th>
            <th width="200px">{% trans 'BMI' %} </th>
            <th width="100px">{% trans 'Edit' %} </th>
          </tr>
        </thead>

        <tbody>
          {% for curve in related_patient.curves_set.all %}
            <tr>
              <td>{{curve.age}}</td>
              <td>{{curve.weight|floatformat}}</td>
              <td>{{curve.height}}</td>
              <td>{{curve.cephalic_perimeter}}</td>
              <td>{{curve.bmi}}</td>
              {% if request.user.healthteam or request.user.employee%}
                <td>
                  <a href="{% url 'medicalrecords:update_curve' view.kwargs.username curve.pk %}" class="btn btn-secondary btn-sm" style="margin: 0px;" >{% trans "Edit" %}</a>
                </td>
              {% endif %}
            </tr>
          {% endfor %}
        </tbody>

      </table>
    </div>
  </div>


</div>
