{% extends 'core/base.html' %}
{% load static i18n %}

{% block title %}{% trans "New Medical Record" %}{% endblock %}

{% block content %}
  <div class="container">
    <h2>{% trans "New Medical Record" %}</h2><hr>
    <form method="medicalrecord">
      {% csrf_token %}
      {% for field in form %}
        <div class="fieldWrapper">
            {{ field.errors }}
          <p class="lead">
            {{ field.label_tag }}<br>
            {{ field }}
          </p>
        </div>
      {% endfor %}
      <button type="submit" class="btn btn-secondary">{% trans "Create" %}</button>
    </form>
  </div>

{% endblock %}
