{% extends 'core/base.html' %}
{% load static i18n %}

{% block title %}{% trans 'New Medical Record' %}{% endblock %}

{% block css %}
{{block.super}}
<link href="{% static 'medicalrecords/css/medicalrecords.css' %}" rel="stylesheet">
{% endblock %}

{% block script %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
    $(document).ready(function()
    {
        function updateCephalicPerimeter()
        {
            $("#cephalic_perimeter").removeAttr('hidden');

            var num = parseInt($("#age").val());

            if (num >= 24){
              var total = 0;
              $("#cephalic_perimeter").prop("hidden", true);
            }

            if (num < 24){
              $("#cephalic_perimeter").val("")
            }

            var total = total;
            $("#cephalic_perimeter").val(total);
        }

        $(document).on("change, keyup", "#age", updateCephalicPerimeter);
    });


  </script>

  <script>
    function isNumberKey(evt)
      {
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode != 46 && charCode > 31
        && (charCode < 48 || charCode > 57))
        return false;
        return true;
    }
  </script>

  <script>
    $(document).ready(function()
    {
      function getAge()
      {
          var month = parseFloat($("#age").val());
          var year = Math.floor(month/12);
          var result_m = month%12;
          if (!result_m ){
            result_m = 0;

          }
          if (!year){
            year = 0;
          }
          $("#converted_year").val(year);
          $("#converted_month").val(result_m);
      }


        $(document).on("change, keyup", "#age", getAge);
        $.proxy(getAge, $('#age'))();
    });

    $("#submit_btn").click(
      function (){
        $("#cephalic_perimeter").removeAttr('disabled');
      }
    )

  </script>
{% endblock %}

{% block content %}
  <div class="container">

    <div class="row">
      <div class="col">
          <h2>{% trans 'Growth Data' %}</h2>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <form method="post" enctype="multipart/form-data"action="#menu6" id="doctorForm">
          {% csrf_token %}

            <div class="formgroup row my-2  border rounded">
              <div class="col fieldWrapper my-2">

                {% if form.age.errors %}
                <div div class="alert alert-danger">
                  {% for error in form.age.errors %}
                      <strong>{{ error|escape }}</strong>
                  {% endfor %}
                </div>
                {% endif %}

                <div class="col">
                  {% trans "Age" %}:
                </div>
                <div class="row">
                  <div class="col-xs-3 ml-4">
                    {% if object.age %}
                       <input class="form-control input-big no" readonly id="age" name="age"  type="text" onChange="updateCephalicPerimeter() getAge()"  value="{{ object.age }}"/>
                    {% else %}
                       <input class="form-control input-big" id="age" name="age"  type="text" onChange="updateCephalicPerimeter() getAge()" onkeypress="return isNumberKey(event)"  />
                    {% endif%}
                  </div>
                  <div class="col ml-4"></div>
                  <div class="col">
                    {% trans 'Equivalent to: '%}  <input class="no " readonly size="1" id="converted_year" name="converted_year"value=""/>  {% trans 'year(s) and'%}  <input class="no" size="1" readonly id="converted_month" name="converted_month"value=""/>  {% trans 'month(s)'%}
                  </div>
                </div>

                <font size="2" class="ml-3">{% trans 'Age in months' %}</font>

              </div>
            </div>

            <div class="formgroup row my-2  border rounded">
              <div class="col fieldWrapper my-2">

                {% if form.height.errors %}
                <div div class="alert alert-danger">
                  {% for error in form.height.errors %}
                      <strong>{{ error|escape }}</strong>
                  {% endfor %}
                </div>
                {% endif %}

                <div class="col">
                  {% trans "Height" %}:
                </div>

                <div class="row">
                  <div class="col-xs-1 ml-4">
                    {% if object.height %}
                       <input class="form-control input-big " id="height" name="height"  type="text"   value="{{ object.height }}"/>
                    {% else %}
                       <input class="form-control input-big" id="height" name="height"  type="text" onkeypress="return isNumberKey(event)" />
                    {% endif%}
                  </div>
                </div>

                <font size="2" class="ml-3">{% trans 'Height in cm' %}</font>

              </div>
            </div>

            <div class="formgroup row my-2  border rounded">
              <div class="col fieldWrapper my-2">

                {% if form.weight.errors %}
                <div div class="alert alert-danger">
                  {% for error in form.weight.errors %}
                      <strong>{{ error|escape }}</strong>
                  {% endfor %}
                </div>
                {% endif %}

                <div class="col">
                  {% trans "Weight" %}:
                </div>

                <div class="row">
                  <div class="col-xs-1 ml-4">
                    {% if object.weight %}
                       <input class="form-control input-big " id="weight" name="weight"  type="text"   value="{{ object.weight }}"/>
                    {% else %}
                       <input class="form-control input-big" id="weight" name="weight"  type="text" onkeypress="return isNumberKey(event)" />
                    {% endif%}
                  </div>
                </div>

                <font size="2" class="ml-3">{% trans 'Weight in kg' %}</font>

              </div>
            </div>

            <div class="formgroup row my-2  border rounded">
              <div class="col fieldWrapper my-2">

                {% if form.cephalic_perimeter.errors %}
                <div div class="alert alert-danger">
                  {% for error in form.cephalic_perimeter.errors %}
                      <strong>{{ error|escape }}</strong>
                  {% endfor %}
                </div>
                {% endif %}

                <div class="col">
                  {% trans "Cephalic Perimeter" %}:
                </div>
                <div class="row">
                  <div class="col-xs-1 ml-4">
                    {% if object.age > 23  %}
                       <input class="form-control input-big " id="cephalic_perimeter" name="cephalic_perimeter"  type="text"   value="0"/>
                    {% elif object.age < 24 %}
                       <input class="form-control input-big " id="cephalic_perimeter" name="cephalic_perimeter"  type="text"   value="{{ object.cephalic_perimeter}}"/>
                    {% else %}
                       <input class="form-control input-big" id="cephalic_perimeter" name="cephalic_perimeter"  type="text" onkeypress="return isNumberKey(event)" />
                    {% endif%}
                  </div>
                </div>

                <font size="2" class="ml-3">{% trans 'Perimeter in cm. If the age is greater than 23 months, the head circumference is disregarded' %}</font>
              </div>
            </div>

          <div class="float-right">
            <a href="{% url 'medicalrecords:list_medicalrecords' view.kwargs.username  %}#menu6" class="btn btn-danger my-3 mx-1" >{% trans "Cancel" %}</a>
            <button id="submit_bnt" type="submit" class="btn btn-success my-3 mx-1">{% trans 'Save' %}</button>
          </div>

        </form>

      </div>
    </div>

  </div>

{% endblock %}
