{% load static i18n %}

    <div class="row mb-5">
      <div class="col">
        <h3 >{% trans "Patient prescription" %}</h3>
      </div>
      <div class="col-auto">
        {% if request.user.healthteam %}
          <a href="{% url 'medicalrecords:create_medicine'  view.kwargs.username %}" class="btn btn-success float-right" >{% trans "Add" %}</a>
        {% endif %}
      </div>
    </div>
    <div class="row mb-5">
      <div class="col">
        {% if medicines %}
          <div class="table-responsive">
            <table class="table table-hover table-sm table-bordered">
              <thead class="btn-secondary">
                <tr>
                  {% if request.user.healthteam or request.user.employee %}
                    <th class="col-auto" scope="col">{% trans 'Medicine' %}</th>
                  {% endif %}
                  <th class="col-auto" scope="col">{% trans 'Name of medicine' %}</th>
                  <th class="col-auto" scope="col">{% trans 'Dosage' %}</th>
                  <th class="col-auto" scope="col">{% trans 'Time between uses' %}</th>
                  <th class="col-auto" scope="col">{% trans 'In use?' %}</th>
                </tr>
              </thead>
              <tbody>
                {% for medicine in medicines %}
                  <tr>
                    {% if request.user.healthteam %}
                    <th scope="row">
                      <a href="{% url 'medicalrecords:update_medicine' view.kwargs.username medicine.pk %}" class="btn btn-secondary" >{% trans "Edit" %}</a>
                    </th>
                    {% endif %}
                    <td>{{medicine.medicine_name}}</td>
                    <td>{{medicine.medicine_dosage}}</td>
                    <td>{{medicine.medicine_use_interval}}</td>
                    <td>
                        <input type="checkbox" disabled {% if  medicine.medicine_in_use %} checked {% endif %} >
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        {% else %}
          <h4>{% trans "There are no prescriptions registered for this patient."%}</h4>
        {% endif %}
      </div>
    </div>
