{% extends 'core/base.html' %}
{% load static i18n %}

{% block title %}{% trans 'New Medical Record' %}{% endblock %}

{% block css %}
{{block.super}}
<link href="{% static 'medicalrecords/css/medicalrecords.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
  <div class="container">

    <div class="row">
      <div class="col">
          <h2>{% trans 'Add Exam' %}</h2>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <form method="post" enctype="multipart/form-data"action="#menu2">
          {% csrf_token %}

            <div class="formgroup row my-2  border rounded">

              {% if form.file.errors %}
                        <div class="col-12">
                            {{ form.file.errors }}
                        </div>
               {% endif %}

               <div class="col-12">
                 {{ form.file.label_tag }}
               </div>

               <div class="col-12 mb-2">
                  {{ form.file }}
              </div>
             </div>

            <div class="formgroup row my-2  border rounded">

              {% if form.day.errors %}
                        <div class="col-12">
                            {{ form.day.errors }}
                        </div>
               {% endif %}

               <div class="col-12">
                 {{ form.day.label_tag }}
               </div>

               <div class="col-12">
                  <input class="form-control mb-2" type="date"
                         name="day"
                         required="" id="id_day"
                  >
              </div>
             </div>

              <div class="formgroup row my-2  border rounded">
               {% if form.category.errors %}
                        <div class="col-12">
                            {{ form.category.errors }}
                        </div>
               {% endif %}

               <div class="col-12">
                 {{ form.category.label_tag }}
               </div>

               <div class="col-12">
                 <select name="category" class="select form-control" required="" id="id_category">
                   <option value="">{% trans "Select a category..."%}</option>
                   <option value="0">{%trans "Others"%}</option>
                   <option value="1">{%trans 'Structured Physical Exam'%}</option>
                   <option value="2">{%trans 'Vision Exam'%}</option>
                    <option value="3">{%trans 'Ear Exam' %}</option>
                    <option value="4">{%trans 'Hearth Exam' %}</option>
                    <option value="5">{%trans 'Muscle skeletal system Exam' %}</option>
                    <option value="6">{%trans 'Nervous system Exam' %}</option>
                    <option value="7">{%trans 'Blood Exam' %}</option>
                    <option value="8">{%trans 'Bone Densitometry' %}</option>
                    <option value="9">{%trans 'Biopsy' %}</option>
                    <option value="10">{%trans 'Endoscopy' %}</option>
                    <option value="11">{%trans 'Echocardiogram' %}</option>
                    <option value="12">{%trans 'Map and Holter' %}</option>
                    <option value="13">{%trans 'Bioimpedance' %}</option>
                    <option value="14">{%trans 'Neurological examinations' %}</option>
                    <option value="15">{%trans 'Urine Analysis' %}</option>
                    <option value="16">{%trans 'Stool Examination' %}</option>
                  </select>
               </div>
             </div>

             <div class="formgroup row my-2  border rounded">
               {% if form.observations.errors %}
                        <div class="col-12">
                            {{ form.observations.errors }}
                        </div>
               {% endif %}

               <div class="col-12">
                 {{ form.observations.label_tag }}
               </div>

               <div class="col-12">
                 <input class="form-control mb-2" type="text"
                         name="observations" maxlength="100"
                         id="id_observations"
                  >
               </div>
             </div>

            <div class="row float-right mr-2">
              <a href="{% url 'medicalrecords:list_medicalrecords' view.kwargs.username  %}#menu2" class="btn btn-danger my-3 mx-1" >{% trans "Cancel" %}</a>
              <button type="submit" class="btn btn-success my-3 mx-1">{% trans 'Save' %}</button>
            </div>
        </form>

      </div>
    </div>

  </div>

{% endblock %}
