{% extends "core/base.html" %}
{% load markdown_deux_tags %}
{% load static i18n %}
{% block title %}{% trans "Medical Record:" %} {{ related_patient.user.name }}{% endblock %}

{% block css %}
{{block.super}}
  <link href="{% static 'medicalrecords/css/medicalrecords.css' %}" rel="stylesheet">
{% endblock %}

{% block script %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <script>

        $(document).ready(function() {

            var pathname = window.location.hash;

            if (pathname === ""){
                pathname = "#home";
            }
            
            $(pathname).addClass("active").addClass("show");
            var obj = $('.nav > li > a[href="' + pathname + '"]');
            obj.parent().addClass('active');
            obj.addClass("show");
            obj.addClass("active");

        })

    </script>

{%endblock script%}


{% block content %}

<div class="container">

    <div class="row justify-content-between mb-3">
        <div class="col-7 col-md ">
           <h2 class="text-tertiary">{% trans 'Medical Record' %}: {{ related_patient.user.name }}</h2>
        </div>

        <div class="col-auto float-right mr-0">
            <a href="{% url 'users:patient_medical_sheet' view.kwargs.username  %}" class="btn btn-secondary" >{% trans "Return" %}</a>
        </div>

    </div>

    <div class="row justify-content-center mb-3">
        <div class="col">
            <ul class="nav nav-tabs nav-tabs-extension nav-fill">
                <li class="nav-item active">
                    <a class="nav-link nav-link-extension py-3 px-2 rounded-top" data-toggle="tab" href="#home">{% trans "Patient data" %}</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link nav-link-extension py-3 px-2 rounded-top " data-toggle="tab" href="#menu1">{% trans "Evolution" %}</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link nav-link-extension py-3 px-2 rounded-top " data-toggle="tab" href="#menu2">{% trans "Postnatal data" %}</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link nav-link-extension py-3 px-2 rounded-top " data-toggle="tab" href="#menu3">{% trans "Medical Exams" %}</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link nav-link-extension py-3 px-2 rounded-top " data-toggle="tab" href="#menu4">{% trans "Patient Medicine" %}</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link nav-link-extension py-3 px-2 rounded-top " data-toggle="tab" href="#menu5">{% trans "Complaints" %}</a>
                </li>

            </ul>

            <div class="tab-content">

                <div id="home" class="tab-pane fade">

                    <div class="row justify-content-center">

                        <div class="col-auto">
                            {% if related_patient.user.photo %}
                                <img src="{{ related_patient.user.photo.url }}" width="20px" class="align-photo">
                            {% else %}
                                <img src="{% static 'users/img/user.png' %}" class="align-photo">
                            {% endif %}
                        </div>

                        <div class="col border-left">

                            <div class="row">
                                <label class="col"> <strong>{% trans 'Name: '%} </strong> </label>
                                <div class="w-100"></div>
                                <div class="col alert alert-dark mx-3" role="alert"> {{ related_patient.user.name }} </div>
                            </div>

                            <div class="row">
                                <label class="col"><strong>{% trans 'SUS: '%}</strong></label>
                                <div class="w-100"></div>
                                <div class="col alert alert-dark mx-3" role="alert">{{ related_patient.sus_number }} </div>
                            </div>

                            <div class="row">
                                <label class="col"><strong>{% trans 'Birthday: '%}</strong></label>
                                <div class="w-100"></div>
                                <div class="col alert alert-dark mx-3" role="alert">{{ related_patient.user.birthday }}</div>
                            </div>

                            {% if related_patient.user.cpf %}

                                <div class="row">
                                    <label ><strong>{% trans 'cpf: '%}</strong></label>{{ related_patient.cpf }}
                                </div>

                            {% endif %}

                        </div>

                    </div>
                </div>

                <div id="menu1" class="tab-pane fade">

                    <div class="row">

                        <h3 class="col mb-5">{% trans 'Evolution' %}</h3>

                        {% if user.healthteam %}
                            <div class="col">
                                <a href="{% url 'medicalrecords:create_medicalrecords'  view.kwargs.username  %}" class="btn btn-success float-right" >{% trans "New" %}</a>
                            </div>
                        {% endif %}

                    </div>

                    <div class="list-group">

                        <div class="accordion" id="accordionmenu1">

        
                            {% for medicalrecord in medicalrecordlist %}

                                <div class="card">
                                    <div class="card-header" id="headingMedicalRecord{{ medicalrecord.id }}">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseMedicalRecord{{medicalrecord.id}}">
                                                {% trans 'Author'%}: {{ medicalrecord.author.user.name }} | {% trans 'Created at'%}: {{ medicalrecord.day }}
                                            </button>
                                        </h5>
                                    </div>

                                    <div id="collapseMedicalRecord{{medicalrecord.id}}" class="collapse" data-parent="#headingMedicalRecord{{ medicalrecord.id }}">
                                        <div class="card-body">

                                            <div class="h-blue list-group-item mb-5">

                                                <div class="row">
                                                    <div class="col alert alert-dark mx-2 my-2">

                                                        <p class="text-tertiary h-blue"> {{ medicalrecord.message|markdown }} </p>

                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col border-right border-top">

                                                        <p class="text-tertiary h-blue"><label>{% trans 'Author'%}: </label> {{ medicalrecord.author.user.name }} </p>
                                                    </div>

                                                    <div class="col border-top">

                                                        <p class="text-tertiary h-blue"><label>{% trans 'Created at'%}: </label> {{ medicalrecord.day }} </p>

                                                    </div>
                                                </div>

                                                {% if medicalrecord.document %}
                                                    <div class="row">
                                                        <div class="col">

                                                            <p>{% trans 'Attachment:' %} <a class="text-secondary" href="{{ medicalrecord.document.url }}">{{ medicalrecord.document.name }}</a></p>
                                                        </div>
                                                    </div>
                                                {% endif %}

                                            </div>       
                                        </div>
                                    </div>
                                </div>


                                
                            {% empty %}

                                <h4>{% trans 'There are no Evolution for this patient.'%}</h4>

                            {% endfor %}
                        </div>
                    </div>

                </div>

                <div id="menu2" class="tab-pane fade">

                    <div class="row mb-5">

                        <div class="col">
                            <h3 >{% trans 'Postnatal data' %}</h3>
                        </div>

                        {% if user.healthteam %}
                            <div class="col-auto">
                                {% if related_patient.staticdata.weight %}
                                    <a href="{% url 'medicalrecords:update_static_data_medicalrecords'  view.kwargs.username %}" class="btn btn-secondary float-right" >{% trans "Edit" %}</a>
                                {% else %}
                                    <a href="{% url 'medicalrecords:create_static_data_medicalrecords'  view.kwargs.username %}" class="btn btn-success float-right" >{% trans "New" %}</a>
                                {% endif %}

                            </div>
                        {% endif %}
                    </div>


                    <div class="row mb-5">


                        {% if related_patient.staticdata %}

                            <div class="col border-right">

                                <div class="row">

                                    <div class="col"><label><strong>{% trans 'Weight at birth: '%} </strong></label></div>
                                    <div class="w-100"></div>
                                    <div class="col mx-3 alert alert-dark" role="alert"> {{ related_patient.staticdata.weight  }}  {% trans 'grams'%}</div>

                                </div>

                                <div class="row">

                                    <div class="col"><label><strong>{% trans 'APGAR: '%}</strong></label></div>
                                    <div class="w-100"></div>
                                    <div class="col mx-3 alert alert-dark" role="alert">{{  related_patient.staticdata.APGAR }}</div>

                                </div>


                            </div>

                            <div class="col">

                                <div class="row">

                                    <div class="col"><label><strong>{% trans 'Heart Test:'%}</strong></label></div>
                                    <div class="w-100"></div>
                                    <div class="col mx-3 alert alert-dark" role="alert">
                                        <a class="text-secondary" href="{{ related_patient.staticdata.heart_test.url }}"> {{  related_patient.staticdata.heart_test.name }} </a>
                                    </div>

                                </div>

                                <div class="row">

                                    <div class="col"><label><strong>{% trans 'Ear Test:'%}</strong></label></div>
                                    <div class="w-100"></div>
                                    <div class="col mx-3 alert alert-dark" role="alert">
                                        <a class="text-secondary" href="{{ related_patient.staticdata.ear_test.url }}"> {{  related_patient.staticdata.ear_test.name }} </a>
                                    </div>
                                </div>

                            </div>

                        {% else %}

                            <div class="row">

                                <h3 class="col mx-3">
                                    <label><strong>{% trans 'No postnatal data for this patient.'%} </strong></label>
                                </h3>

                            </div>

                        {% endif %}

                    </div>
                </div>


                <div id="menu3" class="tab-pane fade">


                    <div class="row mb-5">

                        <div class="col">
                            <h3 >{% trans 'Medical Exams' %}</h3>
                        </div>

                        <div class="col-auto">
                            <a href="{% url 'medicalrecords:create_exam_medicalrecords'  view.kwargs.username %}" class="btn btn-success float-right" >{% trans "Add" %}</a>
                        </div>
                    </div>


                    <div class="row mb-5">


                        <div class="col border-right">

                            <div class="accordion" id="accordionmenu3">

                            {% for category, exams in exams_categories.items %}
                                <div class="card">
                                    <div class="card-header" id="headingCategory{{ category }}">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseCategory{{category}}">
                                                {{ category }}
                                            </button>
                                        </h5>
                                    </div>

                                    <div id="collapseCategory{{category}}" class="collapse" data-parent="#headingCategory{{ category }}">
                                        <div class="card-body">

                                            
                                            {% for exam in exams %}


                                                <div class="row">

                                                    <div class="col mx-3 alert alert-dark" role="alert">

                                                        <div class="col">
                                                            <a class="col text-secondary" href="{{ exam.file.url }}"> {{  exam.file.name }} </a>
                                                            <div class="w-100"></div>
                                                            <p class="col text-secondary">{% trans 'Date' %}: {{ exam.day.date }}</p>
                                                        </div>

                                                        <div class="col">
                                                            <p class="col text-secondary">{% trans 'Obs' %}: {{ exam.observations }}</p>
                                                        </div>

                                                       
                                                    </div>

                                                </div>

                                            {% endfor %}
                                                

                                        </div>
                                    </div>
                                </div>
                            
                            {% empty %}

                                <h4>{% trans 'There are no exams registered for this patient.'%}</h4>

                            {% endfor %}


                            </div>


                        </div>



                    </div>

                </div>

                <div id="menu4" class="tab-pane fade">
                    <div class="row mb-5">
                        <div class="col">
                            <h3 >{% trans 'Patient Medicine' %}</h3>
                        </div>

                        <div class="col-auto">
                            <a href="{% url 'medicalrecords:create_medicine'  view.kwargs.username %}" class="btn btn-success float-right" >{% trans "Add" %}</a>
                        </div>
                    
                    </div>

                    <div class="row mb-5">
                    
                        <div class="col">
                                

                            {% if medicines %}
                                
                                <div class="table-responsive">
                                    <table class="table table-hover table-sm table-bordered">                                    
                                        
                                        <thead class="btn-secondary">
                                            <tr>
                                                <th class="col-auto" scope="col">{% trans 'Medicine' %}</th>
                                                <th class="col-auto" scope="col">{% trans 'Name' %}</th>
                                                <th class="col-auto" scope="col">{% trans 'Dosage' %}</th>
                                                <th class="col-auto" scope="col">{% trans 'In use?' %}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            
                                            {% for medicine in medicines %}
                                                <tr>
                                                    <th scope="row">
                                                            <a href="{% url 'medicalrecords:update_medicine' view.kwargs.username medicine.pk %}" class="btn btn-secondary" >{% trans "Edit" %}</a>
                                                    </th>
                                                    <td>{{medicine.medicine_name}}</td>
                                                    <td>{{medicine.medicine_dosage}}</td>
                                                    <td>
                                                        <input type="checkbox" disabled {% if  medicine.medicine_in_use %} checked {% endif %} >
                                                    </td>
                                                </tr> 
                                            {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                            {% else %}

                             <h4>{% trans 'There are no medicines registered for this patient.'%}</h4>


                            {% endif %}
                                    
                        </div>
                    
                    </div>

                </div>

                <div id="menu5" class="tab-pane fade">
            
                    <div class="row">

                        <h3 class="col mb-5">{% trans 'Complaints' %}</h3>

                        {% if user.healthteam %}
                            <div class="col">
                                <a href="{% url 'medicalrecords:create_complaint_medicalrecords'  view.kwargs.username  %}" class="btn btn-success float-right" >{% trans "Add" %}</a>
                            </div>
                        {% endif %}

                    </div>

                    <div class="list-group">

                        <div class="accordion" id="accordionmenu1">

        
                            {% for complaint in complaints %}

                                <div class="card">
                                    <div class="card-header" id="headingComplaint{{ complaint.id }}">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseComplaint{{complaint.id}}">
                                                {% trans 'Author'%}: {{ complaint.author.user.name }} | {% trans 'Complaint day'%}: {{ complaint.complaint_day }}
                                            </button>
                                        </h5>
                                    </div>

                                    <div id="collapseComplaint{{complaint.id}}" class="collapse" data-parent="#headingComplaint{{ complaint.id }}">
                                        <div class="card-body">

                                            <div class="h-blue list-group-item mb-5">

                                                <div class="row">
                                                    <div class="col alert alert-dark mx-2 my-2">

                                                        <p class="text-tertiary h-blue"> {{ complaint.description|markdown }} </p>

                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col border-right border-top">

                                                        <p class="text-tertiary h-blue"><label>{% trans 'Author'%}: </label> {{ complaint.author.user.name }} </p>
                                                    </div>

                                                    <div class="col border-top">

                                                        <p class="text-tertiary h-blue"><label>{% trans 'Created at'%}: </label> {{ complaint.complaint_day }}, {{ complaint.complaint_time }} </p>

                                                    </div>
                                                </div>
                                            </div>       
                                        </div>
                                    </div>
                                </div>


                                
                            {% empty %}

                                <h4>{% trans 'There are no complaints registered for this patient.'%}</h4>

                            {% endfor %}
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
{% endblock content %}
