{% extends 'core/base.html' %}
{% load static i18n %}

{% block title %}{% trans 'New Medical Record' %}{% endblock %}

{% block css %}
{{block.super}}
<link href="{% static 'medicalrecords/css/medicalrecords.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
  <div class="container">
    <h2>{% trans 'New Medical Record' %}</h2>
    {{ form.media }}
    <div method="post" enctype="multipart/form-data">
      {% csrf_token %}

      <label>{% trans 'Attachments'%} : </label> <div style="margin-right: 90%;">{{ form.message }}</div><br/>
      <div><label>{% trans 'Attachments'%} : </label> {{ form.document }}</div><br/>
      <button type="submit" class="btn btn-secondary" style="margin-left: 0%;">{% trans 'Create' %}</button>
    </form>
  </div><br/><br/>

{% endblock %}
