{% extends 'core/base.html' %}
{% load static i18n %}

{% block title %}{% trans 'New Medical Record' %}{% endblock %}

{% block css %}
{{block.super}}
<link href="{% static 'medicalrecords/css/medicalrecords.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">

        <div class="row">
            <div class="col">
                <h2>{% trans 'Update Static Data' %}</h2>
            </div>
        </div>

        <div class="row">
            <div class="col">
            
                <form method="post" enctype="multipart/form-data" action="#menu2">

                    {% csrf_token %}

                    {% for field in form %}
                        
                        <div class="formgroup row my-2  border rounded">    
                           
                            <div class="col fieldWrapper my-2">

                                
                                {% if field.errors %}
                                    <div class="col">
                                        {{ field.errors }}
                                    </div>
                                {% endif %}
                                    
                                    
                                <div class="col">
                                    {{ field.label_tag }}
                                </div>
                                
                                <div class="col">
                                    {{ field }}
                                </div>
                                
                            </div>
                        
                        </div>

                    {% endfor %}
                    <div class="row">
                        
                        <div class="col">
                        </div>

                        <div class="col-auto">
                            <button type="submit" class="btn btn-success my-2 mx-1" style="margin-left: 0%;">{% trans 'Save' %}</button>
                        </div>

                        <div class="col-auto">
                            <a href="{% url 'medicalrecords:list_medicalrecords' view.kwargs.username  %}" class="btn btn-danger my-2 mx-1" >{% trans "Cancel" %}</a>
                        </div>
                    </div>
                </form>

            </div>
        </div>

    </div>

{% endblock %}
