{% extends 'core/base.html' %}
{% load static i18n %}

{% block title %}{% trans 'New Medical Record' %}{% endblock %}

{% block css %}
{{block.super}}
<link href="{% static 'medicalrecords/css/medicalrecords.css' %}" rel="stylesheet">
{% endblock %}

{% block script %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
    $(document).ready(function()
    {
        function updateCephalicPerimeter()
        {
            $("#cephalic_perimeter").removeAttr('disabled');
            var num = parseInt($("#age").val());
            if (num >= 24){
            var total = 0;
            $("#cephalic_perimeter").prop("disabled", true);
            }
            if (num < 24){
            $("#cephalic_perimeter").val("")
            }
            var total = total;
            $("#cephalic_perimeter").val(total);
        }


        $(document).on("change, keyup", "#age", updateCephalicPerimeter);
    });
  </script>

  <script>
    function isNumberKey(evt)
      {
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode != 46 && charCode > 31
        && (charCode < 48 || charCode > 57))
        return false;
        return true;
    }
  </script>
{% endblock %}

{% block content %}
  <div class="container">

    <div class="row">
      <div class="col">
          <h2>{% trans 'Growth Data' %}</h2>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <form method="post" enctype="multipart/form-data"action="#menu7" id="doctorForm">
          {% csrf_token %}

            <div class="formgroup row my-2  border rounded">
              <div class="col fieldWrapper my-2">

                {% if form.height.errors %}
                <div div class="alert alert-danger">
                  {% for error in form.height.errors %}
                      <strong>{{ error|escape }}</strong>
                  {% endfor %}
                </div>
                {% endif %}

                <div class="col">
                  {{ form.height.label_tag }}
                </div>

                <div class="col">
                  {{ form.height }}
                </div>

                <font size="2" class="ml-3">{% trans 'Height in cm' %}</font>

              </div>
            </div>

            <div class="formgroup row my-2  border rounded">
              <div class="col fieldWrapper my-2">

                {% if form.weight.errors %}
                <div div class="alert alert-danger">
                  {% for error in form.weight.errors %}
                      <strong>{{ error|escape }}</strong>
                  {% endfor %}
                </div>
                {% endif %}

                <div class="col">
                  {{ form.weight.label_tag }}
                </div>

                <div class="col">
                  {{ form.weight }}
                </div>

                <font size="2" class="ml-3">{% trans 'Weight in kg' %}</font>

              </div>
            </div>

            <div class="formgroup row my-2  border rounded">
              <div class="col fieldWrapper my-2">

                {% if form.age.errors %}
                <div div class="alert alert-danger">
                  {% for error in form.age.errors %}
                      <strong>{{ error|escape }}</strong>
                  {% endfor %}
                </div>
                {% endif %}

                <div class="col">
                  {{ form.age.label_tag }}
                </div>

                <div class="col">
                  {% if object.age %}
                  <fieldset disabled="disabled">{{ form.age }}</fieldset>
                  {% else %}
                     <input class="span4 input-big" id="age" name="age" size="20" type="text" onChange="updateCephalicPerimeter()" onkeypress="return isNumberKey(event)"  />
                  {% endif%}
                </div>

                <font size="2" class="ml-3">{% trans 'Age in months' %}</font>

              </div>
            </div>

            <div class="formgroup row my-2  border rounded">
              <div class="col fieldWrapper my-2">

                {% if form.cephalic_perimeter.errors %}
                <div div class="alert alert-danger">
                  {% for error in form.cephalic_perimeter.errors %}
                      <strong>{{ error|escape }}</strong>
                  {% endfor %}
                </div>
                {% endif %}

                <div class="col">
                  {{ form.cephalic_perimeter.label_tag }}
                </div>

                <div class="col">
                  <input class="span4 input-big" id="cephalic_perimeter" name="cephalic_perimeter"value=""/>
                </div>

                <font size="2" class="ml-3">{% trans 'Perimeter in cm' %}</font>

              </div>
            </div>

          <div class="float-right">
            <a href="{% url 'medicalrecords:list_medicalrecords' view.kwargs.username  %}" class="btn btn-danger my-3 mx-1" >{% trans "Cancel" %}</a>
            <button type="submit" class="btn btn-success my-3 mx-1">{% trans 'Save' %}</button>
          </div>

        </form>

      </div>
    </div>

  </div>

{% endblock %}
