{% extends 'core/base.html' %}
{% load static i18n %}

{% block title %}{% trans 'New Medical Record' %}{% endblock %}

{% block css %}
{{block.super}}
<link href="{% static 'medicalrecords/css/medicalrecords.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
  <div class="container">

    <div class="row">
      <div class="col">
        <h2>{% trans 'Prescription' %}</h2>
      </div>
    </div>

    <div class="row">
      <div class="col">

        <form method="post" enctype="multipart/form-data" action="#menu3">

          {% csrf_token %}
            <div class="formgroup row my-2  border rounded">
                <div class="col fieldWrapper my-2">
                    {% if form.medicine_name.errors %}
                        <div class="col">
                            {{ form.medicine_name.errors }}
                        </div>
                    {% endif %}

                    <div class="col">
                        {{ form.medicine_name.label_tag }}
                    </div>

                    <div class="col">
                      {% if object.medicine_name %}
                        <input class="form-control mb-2" type="text"
                               name="medicine_name" maxlength="100"
                               required="" id="id_medicine_name"
                               value="{{ object.medicine_name }}"
                        >
                      {% else %}
                         <input class="form-control mb-2" type="text"
                               name="medicine_name" maxlength="100"
                               required="" id="id_medicine_name"
                               placeholder="{% trans 'Enter your medication name here' %}"
                        >
                      {% endif %}
                    </div>
                {% if field.help_text %}
                  <font size="2" class="ml-3">{{ form.medicine_name.help_text|safe }}</font>
                {% endif %}
                </div>
            </div>

            <div class="formgroup row my-2  border rounded">
                <div class="col fieldWrapper my-2">
                    {% if form.medicine_dosage.errors %}
                        <div class="col">
                            {{ form.medicine_dosage.errors }}
                        </div>
                    {% endif %}

                    <div class="col">
                        {{ form.medicine_dosage.label_tag }}
                    </div>

                    <div class="col">
                      {% if object.medicine_dosage %}
                        <input class="form-control mb-2" type="text"
                               name="medicine_dosage" maxlength="100"
                               required="" id="id_medicine_dosage"
                               value="{{ object.medicine_dosage }}"
                        >
                      {% else %}
                        <input class="form-control mb-2" type="text"
                               name="medicine_dosage" maxlength="100"
                               required="" id="id_medicine_dosage"
                               placeholder="{% trans 'Enter your medication dosage here' %}"
                        >
                      {% endif %}
                    </div>
                {% if field.help_text %}
                  <font size="2" class="ml-3">{{ form.medicine_dosage.help_text|safe }}</font>
                {% endif %}
                </div>
            </div>

            <div class="formgroup row my-2  border rounded">
                <div class="col fieldWrapper my-2">
                    {% if form.medicine_use_interval.errors %}
                        <div class="col">
                            {{ form.medicine_use_interval.errors }}
                        </div>
                    {% endif %}

                    <div class="col">
                        {{ form.medicine_use_interval.label_tag }}
                    </div>

                    <div class="col">
                      {% if object.medicine_use_interval %}
                        <input class="form-control mb-2" type="text"
                               name="medicine_use_interval" maxlength="50"
                               required="" id="id_medicine_use_interval"
                               value="{{ object.medicine_use_interval }}"

                        >
                      {% else %}
                        <input class="form-control mb-2" type="text"
                               name="medicine_use_interval" maxlength="50"
                               required="" id="id_medicine_use_interval"
                               placeholder="{% trans 'Enter your medication use interval here' %}"

                        >
                      {% endif %}
                    </div>
                {% if field.help_text %}
                  <font size="2" class="ml-3">{{ form.medicine_use_interval.help_text|safe }}</font>
                {% endif %}
                </div>
            </div>


            <div class="formgroup row my-2  border rounded">
                <div class="col fieldWrapper my-2">
                    {% if form.medicine_in_use.errors %}
                        <div class="col">
                            {{ form.medicine_in_use.errors }}
                        </div>
                    {% endif %}

                    <div class="col">
                        {{ form.medicine_in_use.label_tag }}
                    </div>

                    <div class="col">
                        {{ form.medicine_in_use }}
                    </div>
                {% if field.help_text %}
                  <font size="2" class="ml-3">{{ form.medicine_in_use.help_text|safe }}</font>
                {% endif %}
                </div>
            </div>

          <div class="row float-right mr-2">
            <a href="{% url 'medicalrecords:list_medicalrecords' view.kwargs.username  %}#menu3" class="btn btn-danger my-3 mx-1" >{% trans "Cancel" %}</a>
            <button type="submit" class="btn btn-success my-3 mx-1">{% trans 'Save' %}</button>
          </div>
        </form>

      </div>
    </div>

  </div>

{% endblock %}
