{% extends 'core/base-nav.html' %}
{% load static i18n %}
{% block title %}{% trans 'New Medical Record' %}{% endblock %}
{% block css %}
{{block.super}}
<link href="{% static 'medicalrecords/css/medicalrecords.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
  <div class="container">
    <h2>{% trans 'New Commentary' %}</h2>
    {{ form.media }}
    <form method="post">
      {% csrf_token %}
      <label>{% trans 'Message'%} : </label> <div style="margin-right: 90%;">{{ form.message }}</div><br/>
      <button type="submit" class="btn btn-success ml-3 mt-5 float-right" style="margin-left: 0%;">{% trans 'Post' %}</button>
    </form>

    <a href="{% url 'forum:list_commentary' post.category.slug post.category.pk post.pk %}"><button type="submit" class="btn btn-danger ml-3 mt-5 float-right" style="margin-left: 0%;">{% trans 'Cancel' %}</button>
  </div>
{% endblock %}
