{% load i18n %}

{% if is_paginated %}
  <nav aria-label="Topics pagination" class="mb-4">
    <ul class="pagination">
      {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.previous_page_number }}">{% trans "Previous" %}</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <span class="page-link">{% trans "Previous" %}</span>
        </li>
      {% endif %}

      {% for page_num in paginator.page_range %}
        {% if page_obj.number == page_num %}
          <li class="page-item active ">
            <a class="page-link">{{ page_num }} <span class="sr-only">(current)</span></a>
          </li>
        {% else %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
          </li>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.next_page_number }}">{% trans "Next" %}</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <span class="page-link">{% trans "Next" %}</span>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}
