{% extends "account/base.html" %}
{% load i18n %}
{% block head_title %}{% trans "Medical Record" %}{% endblock %}

{% block inner %}
<h1>{% trans 'Cancel Appointment' %}</h1>

<form method="post" action="">
  {% csrf_token %}
  <p>{% trans 'Are you sure you want to cancel this appointment?' %} </p>
  <a href="{% url 'appointments:list_appointments' %}" class="btn btn-secondary">{% trans 'No' %}</a>
  <button class="btn btn-danger" type="submit">{% trans 'Yes' %}</button>
</form>


{% endblock %}
