{% extends "appointments/base.html" %}
{% load static i18n %}

{% block content-appointment %}

  {% for appointment in appointment_list %}
   <!-- Single Comment -->
    <div class="media mb-4 media-body dialogalog body">
      <div class="message">
        <h5 class="mt-0">{{appointment.patient.user.name}}</h5>
        <p> {{appointment.motive}}</p>
        <p><font size="2" >{% trans 'Date'%} {{ appointment.date_time}}</font></p>
        <a href="#" class="btn btn-secondary">{% trans "Edit" %}</a>
        <a href="#" class="btn btn-danger">{% trans "Change Status" %}</a><br/><br/>
      </div>
    </div>
  {% empty %}
    <h4 class="lead text-secondary" align="center">{% trans 'There are no appointments scheduled'%}</h4>
  {% endfor %}

{% endblock %}


