{% extends "core/base.html" %}
{% load static i18n %}

{% block css %}
  {{block.super}}
  <link href="{% static 'appointments/css/appointment.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

  <div class="col-2 border-right border-info float-left mr-2" style="height: 100%">
    <i class="fa fa-angle-double-right"></i>
    <a href="{% url 'appointments:list_appointments' %}" class="text-tertiary">{% trans "Search All" %}</a>
    {% for year in years %}
      <div class="panel panel-info">
        {% if year == current_year %}
          <div class="panel-heading" data-toggle="collapse" data-target="#bar-{{year}}">
            <i class="fa fa-fw fa-chevron-down"></i>
            <i class="fa fa-fw fa-chevron-right"></i>
            {{year}}
          </div>
        {% else %}
          <div class="panel-heading collapsed" data-toggle="collapse" data-target="#bar-{{year}}">
            <i class="fa fa-fw fa-chevron-down"></i>
            <i class="fa fa-fw fa-chevron-right"></i>
            {{year}}
          </div>
        {% endif %}
        <div class="panel-body">
          {% if year == current_year %}
            <div class="collapse show" id="bar-{{year}}">
              {% for month in months %}
                <a href="{% url 'appointments:archive_month' year forloop.counter %}" class="text-tertiary">{{month}}</a></br>
              {% endfor %}
            </div>
          {% else %}
            <div class="collapse" id="bar-{{year}}">
              {% for month in months %}
                <a href="{% url 'appointments:archive_month' year forloop.counter %}" class="text-tertiary">{{month}}</a></br>
              {% endfor %}
            </div>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>

  {% block content-appointment %}
  {% endblock %}

{% endblock %}


