{% extends "core/base.html" %}
{% load static i18n %}

{% block css %}
  {{block.super}}
  <link href="{% static 'appointments/css/appointment.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}{% trans "Requests" %}{% endblock %}

{% block content %}
  <div class="container" >
    {% if request.user.patient %}
      <a href="{% url 'appointments:create_request' %}" class="btn btn-secondary btn-sm float-right mr-3">{% trans "New Request" %}</a>
    {% endif %}
    <h2>{% trans 'Requests' %}</h2><hr>
    {% for appointmentrequest in appointmentrequest_list %}
      <div class="media mb-2 media-body dialogalog body border-top border-bottom" id="request">
        <div class="message" style="width:98%">
          {% if request.user.patient %}
            <a href="{% url 'appointments:delete_request' appointmentrequest.pk %}" class="btn btn-danger btn-sm float-right mr-2">{% trans "Delete" %}</a>
            <a href="{% url 'appointments:update_request' appointmentrequest.pk %}" class="btn btn-secondary btn-sm float-right mr-2">{% trans "Edit" %}</a>
          {% elif request.user.employee %}
            <a href="{% url 'appointments:create_appointment' %}" class="btn btn-success btn-sm float-right mr-2">{% trans "Accept" %}</a>
            <a href="#" class="btn btn-danger btn-sm float-right mr-2">{% trans "Decline" %}</a>
          {% endif %}
          <h5 class="mt-2">{% trans 'Patient'%}: {{appointmentrequest.patient.user.name}}</h5>
          <font size="4" >{% trans 'Doctor'%}: {{ appointmentrequest.doctor.user.name}}</font><br>
          <font size="2" >{% trans 'Especiality'%}: {{appointmentrequest.get_speciality_display}}</font><br>
          <font size="2" >{% trans 'Shift'%}: {{appointmentrequest.get_shift_display}}</font><br>
          <font size="2" >{% trans 'Day of the week'%}: {{appointmentrequest.get_day_display}}</font><br>
          <font size="2" >{% trans 'Motive'%}: {{appointmentrequest.motive}}</font><br>
          <font size="2" >{% trans 'Status'%}: {{appointmentrequest.status}}</font><br>
        </div>
      </div>
    {% empty %}
      <h4 class="lead text-secondary" align="center">{% trans 'There are no requests'%}</h4>
    {% endfor %}
  </div>

  {% include "core/pagination.html" %}


{% endblock %}
