{% extends "core/base.html" %}
{% load static i18n %}

{% block css %}
  {{block.super}}
  <link href="{% static 'appointments/css/appointment.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}{% trans "Requests" %}{% endblock %}

{% block content %}
  <div class="container" >
    {% if request.user.patient and request.user.age >= 13 or request.user.responsible %}
      <a href="{% url 'appointments:create_request' %}" class="btn btn-secondary mt-1 float-right mr-3">{% trans "New Request" %}</a>
    {% endif %}
    <h2>{% trans 'Requests' %}</h2><hr>


    {% url 'appointments:list_requests' as url %}
   {% if request.path == url %}
   <div class="row ml-1 mb-3">
     <div id="search">
       <form class="form-inline " action="" method="GET">
         <select class="form-control" name="search_speciality" id="id_search_speciality">
           <option value="" selected>{% trans 'Speciality' %}</option>
           <option value="SPEECH THERAPY">{% trans 'Speech Theraphy' %}</option>
           <option value="PSYCHOLOGY">{% trans 'Psychology' %}</option>
           <option value="PHYSIOTHERAPY">{% trans 'Physiotherapy' %}</option>
           <option value="OCCUPATIONAL THERAPY">{% trans 'Occupational Therapy' %}</option>
           <option value="GENERAL PRACTITIONER">{% trans 'General Practitioner' %}</option>
           <option value="CARDIOLOGY">{% trans 'Cardiology' %}</option>
           <option value="NEUROLOGY">{% trans 'Neurology' %}</option>
           <option value="PEDIATRICS">{% trans 'Pediatrics' %}</option>
         </select>
         <div class="row ml-3 mr-3">
         <input type="text" style="max-width: 180px;" class="form-control" name="search_name" placeholder="{% trans 'Name' %}" id="id_search_name" />
         </div>
         <button class="btn fa fa-search ml-2 clear-" style="background-color:LightGray" type="submit">{% trans "Search" %}</button>

       </form>
     </div>
    </div>
   {% endif %}

    {% for appointmentrequest in appointmentrequest_list %}
      <div class="media mb-2 media-body dialogalog body border-top border-bottom" id="request">
        <div class="message" style="width:98%">
          {% if request.user.patient or request.user.responsible %}
            {% if appointmentrequest.status != 'Declined' and appointmentrequest.status != 'Scheduled' %}
              <a data-toggle="modal" data-target="#appointmentrequest-{{ appointmentrequest.id }} delete_request" href="" class="btn mt-1 btn-danger btn-sm float-right mr-2">{% trans "Delete" %}</a>
              <a href="{% url 'appointments:update_request' appointmentrequest.pk %}" class="btn mt-1 btn-secondary btn-sm float-right mr-2">{% trans "Edit" %}</a>
            {% else %}
              <a href="{% url 'appointments:delete_request_after_result' appointmentrequest.pk  %}" class="btn mt-1 btn-success btn-sm float-right mr-2 mt-1">{% trans "OK" %}!</a>
            {% endif %}
          {% elif request.user.employee and appointmentrequest.status != 'Declined' and appointmentrequest.status != 'Scheduled' %}
            <a href="{% url 'appointments:create_from_request' appointmentrequest.pk %}" class="btn mt-1 btn-success btn-sm float-right mr-2">{% trans "Accept" %}</a>
            <a href="{% url 'appointments:update_status_request' appointmentrequest.pk %}" class="btn mt-1 btn-danger btn-sm float-right mr-2">{% trans "Decline" %}</a>
          {% endif %}
          <h5 class="mt-2">{% trans 'Patient'%}: {{appointmentrequest.patient.user.name}}</h5>
          {% if appointmentrequest.doctor.user.name == none %}
            <font size="3" >{% trans 'Doctor'%}: {% trans 'Does not have doctor preference'%}</font><br>
          {% else %}
            <font size="3" >{% trans 'Doctor'%}: {{ appointmentrequest.doctor.user.name}}</font><br>
          {% endif %}
          <font size="2" >{% trans 'Especiality'%}: {{appointmentrequest.get_speciality_display}}</font><br>
          <font size="2" >{% trans 'Shift'%}: {{appointmentrequest.get_shift_display}}</font><br>
          <font size="2" >{% trans 'Day of the week'%}: {{appointmentrequest.get_day_display}}</font><br>
          {% if appointmentrequest.motive %}
            <font size="2" >{% trans 'Motive'%}: {{appointmentrequest.motive}}</font><br>
          {% endif %}
          <br/>
          <div class="row">
          <div class="col-auto">
            <p class= "form-control"  > <font size="3" >{% trans 'Status'%}: {{appointmentrequest.get_status_display}} </font><br></p>
          </div>
            <div class="col-auto"></div>
          </div>
            {% if request.user.employee %}
            <font size="2" >{% trans 'Risk'%}: {{appointmentrequest.get_risk_display}}</font><br>
          {% endif %}
          {% if appointmentrequest.observation %}
            <font size="2" >{% trans 'Observation'%}: {{appointmentrequest.observation}}</font><br>
          {% endif %}
        </div>
      </div>

        <!-- Delete request modal -->
        <div class="modal fade" id="appointmentrequest-{{ appointmentrequest.id }} delete_request" role="dialog">
          <div class="modal-dialog modal-sm modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">{% trans 'Confirm delete' %}</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                <p>{% trans 'Are you sure you want to delete this request?' %} </p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Cancel' %}</button>
                <form method="post" action="{% url 'appointments:delete_request' appointmentrequest.pk %}">
                  {% csrf_token %}
                  <button class="btn btn-danger float-right" type="submit">{% trans 'Delete' %}</button>
                </form>
              </div>
            </div>
          </div>
        </div>

    {% empty %}
      <h4 class="lead text-secondary" align="center">{% trans 'There are no requests'%}</h4>
    {% endfor %}
  </div>

  {% include "core/pagination.html" %}


{% endblock %}
