{% extends 'core/base.html' %}
{% load static i18n %}

{% block title %}
  {% url 'appointments:create_request' as url %}
  {% if request.path == url %}
    {% trans "New Request" %}
  {% else %}
    {% trans "Edit Request" %}
  {% endif %}
{% endblock %}

{% block content %}
  <div class="container ">

    {% url 'appointments:create_request' as url %}
    {% if request.path == url %}
      <h2>{% trans "New Request" %}</h2><hr>
    {% else %}
      <h2>{% trans "Edit Request" %}</h2><hr>
    {% endif %}

    <form method="post">
      {% csrf_token %}
      {% for field in form %}
        <div class="fieldWrapper">
            {{ field.errors }}
          <p class="lead">
            {{ field.label_tag }}<br>
            {{ field }}
          </p>
        </div>
      {% endfor %}
      <div class="row align-items-center justify-content-center">
        <button type="submit" class="btn btn-success mr-4" align="center">{% trans "Submit" %}</button>
      </div>
    </form>
  </div>

{% endblock %}
