{% load static i18n %}

<!DOCTYPE html>
<html>
    <body>

    {% trans "Dear Sir / Madam, we would like to inform you that your request was accepted." %}
    <br>
    {% trans "Please go to Dr. Down to confirm the request." %}
    <br>
    {% trans "For more information, please visit the" %}
    <a href="http://drdown-homolog.ml/{% url 'medicalrecords:list_medicalrecords' object.user.username  %}" title="Dr Down">
      {% trans "Dr. Down website" %}
    </a>
    <br>
    {% trans "Thanks for your attention, <br>Dr. Down team." %}

    </body>
</html>
