{% load static i18n %}

<!DOCTYPE html>
<html>
    <body>

    {% trans "Hello! We would like to inform you that " %} {{object.user.name}}{% trans " has " %}
    {{object.count_incomplete_procedures_for_current_age}}
    {% trans "procedure(s) to be made on the care line." %}
    <br>
    {% trans "Please visit the " %}
    <a href="http://drdown-homolog.ml/{% url 'careline:checklist_detail' object.user.username %}" title="Dr Down">
      {% trans "Dr. Down website" %}
    </a>
    {% trans " to check which procedures need your attention." %}
    <br>
    {% trans "Thanks for your attention, <br>Dr. Down team." %}

    </body>
</html>
