{% load static i18n %}

<!DOCTYPE html>
<html>
    <body>

    {% trans 'The Dr. Down team would like to invite you to a event.' %}
    <br>
    {% trans "Here are the details:" %}
    <br>

    {% trans "Event name:" %} {{object.name}} - {% trans "Date and time:" %} {{object.date}} {% trans "at" %} {{object.time}}
    {% trans "Location: " %} {{object.location}}
    <br>
    {% trans "For more information, please visit the" %}
    <a href="http://drdown-homolog.ml/{% url 'events:list_events' %}" title="Dr Down">
      {% trans "Dr. Down website" %}
    </a>
    <br>
    {% trans "Thanks for your attention, <br>Dr. Down team." %}

    </body>
</html>
